%section.work
  - if @images.present?
    .work__imgs
      .grid#js-grid
        - @images.each do |image|
          .item{class: image.half? ? 'item--half' : 'item--full', data: { id: image.id }}
            .item__content
              = image_tag image.img.url, class: 'item__img'

  .work__content-wrapper
    %h1.work__title= @work.name
  .work__content-wrapper.work__content-wrapper--wide
    .work__text= simple_format @work.text
  .work__content-wrapper
    - if @work.link.present?
      .work__link
        = link_to @work.link, @work.link, target: :_blank, class: 'link link--xs link--black link--hover-white'
    .work__tags
      - link_classes = 'link link--xs link--black link--hover-white'
      - @work.tags.each do |tag|
        = link_to tag.name,
                  tag_path(tag),
                  class: link_classes,
                  class_active: 'link--active',
                  active: :exact
    .work__year= @work.year

  - if @work.related_works.present?
    %h2.work__related Related work
    .work__related-wrapper
      .tags-works
        .tags-works__wrapper
          - @work.related_works.each do |work|
            %figure.tags-work
              = link_to work_path(work) do
                = image_tag work.cover_image.img.url, class: 'tags-work__img'
                %figcaption.tags-work__wrapper
                  .tags-work__title= work.name
                  .tags-work__caption= work.caption
