- desc = '15:03 is a branding and visual communication studio founded by Ksenia Smirnova, based in Milan, Italy.'
- description desc
- set_meta_tags og: { 'title'        => '15:03 Design',
                      'description'  => desc,
                      'type'         => 'website',
                      'url'          => root_url,
                      'image'        => asset_url('common/og_logo.jpg'),
                      'image:width'  => 1200,
                      'image:height' => 630 },
                twitter: { card: 'summary_large_image' }

%article.intro#intro
  .arrow.js-arrow
  .arrow.js-arrow.visible--mobile
  .blackout#blackout.hidden--mobile
  %section.section.section--first
    .section__wrapper
      .text.text--intro
        %div{ data: { text_first: 1 } } Branding&
        %div{ data: { text_first: 2 } } Visual Communication
  %section.section.section--info{ data: { section: 1 } }
    .section__wrapper
      .text.text--founded
        %div{ data: { text: 1 } }
          15:03 is a branding and visual communication studio
          %br.hidden--mobile
          founded by Ksenia Smirnova, based in Milan, Italy.
      .text.text--design
        %div{ data: { text: 2 } }
          We design everything visual, including brand identities,
          %br.hidden--mobile
          packaging, websites and mobile apps,
          %br.hidden--mobile
          patterns and illustrations.
  %section.section.section--branding{ data: { section: 2 } }
    = link_to tag_path('branding-identities'), class: 'section__wrapper' do
      .text.text--branding
        %div
          Branding&
        %div
          Identities
        %span.link.link--black.link--sm.link--hover-white
          Discover more
  %section.section.section--web-and-mobile{ data: { section: 3 } }
    = link_to tag_path('web-mobile'), class: 'section__wrapper' do
      .text.text--web-and-mobile
        %div
          Web&Mobile
        %span.link.link--black.link--sm.link--hover-white
          Discover more
  %section.section.section--illustration{ data: { section: 4 } }
    = link_to tag_path('illustration'), class: 'section__wrapper' do
      .text.text--illustration
        %div
          ILLUSTRATION
        %span.link.link--black.link--sm.link--hover-white
          Discover more
  %section.section.section--quote
    .section__wrapper.section__wrapper--quote
      .text.text--placeholder
        Always in balance between an artistic vision and a market approach, we define our work as scenical decorations tailor-made on the client needs.
      .text.text--typed
        %div.js-pretyped Always in balance between
        %div.js-pretyped an artistic vision
        %div.js-pretyped and a market approach
        %div.js-pretyped#typed-trigger , we define our work as
        %div.js-pretyped#typed
  %section.section.section--clients#clients
    .section__wrapper
      .text.text--clients
        %h2 Clients
      .clients
        - @works.have_clients.each do |work|
          .client
            .client__title
              = link_to_if work.has_page?, work.name, work_path(work)
            .client__delimiter
            .client__work= work.caption
  %section.section.section--contact#contact
    .section__wrapper
      .text.text--contact
        %h2 Contact
        .text--contact__vcard.vcard
          %p.text--contact__mail-us Feel free to contact us if you have any questions or comments:
          = link_to 'mailto:ksenia@1503design.com', class: 'text--contact__mail email' do
            %span ksenia@1503design.com
          .text--contact__info
            %span.fn Ksenia Smirnova
            %br
            %span Creative Director
            %br
            = link_to '(+39) 346 844 1463', 'tel:(+39) 346 844 1463', class: 'text--contact__tel tel'
            %br
            %br
            .adr
              %span.street-address Via Ascanio Sforza, 21
              %span.postal-code 20136
              %span.locality Milan
              %span ,
              %span.country-name Italy
            %span P.Iva 09040380967
