%article
  %section#privacy.section.section--privacy
    .section__wrapper{style: 'padding-top: 95px; padding-bottom: 80px;'}
      .text.text--privacy
        %h2 INFORMATIVA SULLA PRIVACY
        %h2 PRIVACY POLICY
        %p.text--legal
          Informativa ai sensi dell’art. 13 Reg. UE 2016/679”
          %br
          In questa pagina si descrivono le modalità di gestione del sito in riferimento al trattamento dei dati personali degli utenti che lo consultano o fruiscono dei servizi da esso offerti.
          %br
          L’informativa è resa solo per il presente sito e non anche per altri siti web eventualmente consultati dall’utente tramite link.
        %p.text--legal
          IMPORTANTE: se l’età dell’utente è inferiore a 18 anni, è necessario che un suo genitore o tutore legga le condizioni qui elencate e le approvi prima di avviare l’utilizzo del Sito e dei suoi servizi
        %p.text--legal
          IL “TITOLARE” DEL TRATTAMENTO
          %br
          A seguito della consultazione di questo sito possono essere trattati dati relativi a persone identificate o identificabili.
        %p.text--legal
          Contitolari del trattamento sono le seguenti società:
          %br
          > Ksenia Smirnova, P.Iva 09040380967 – Via Ascanio Sforza 21, 20136 Milano, Italia – a cui sono delegate tutte le operazioni connesse alla gestione del sito
        %p.text--legal
          Società collegate, che partecipano insieme alla gestione dei servizi erogati attraverso il sito ed al soddisfacimento delle richieste degli interessati nonché alle attività di informazione ed invio di comunicazioni commerciali.
        %p.text--legal
          TIPI DI DATI TRATTATI – Dati di navigazione
          %br
          I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet.
          %br
          Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti.
          %br
          In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.
          %br
          Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del sito e per controllarne il corretto funzionamento. I dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito e solo in tal caso potranno attivarsi specifiche procedure volte alla identificazione dell’autore..
        %p.text--legal
          La BASE GIURIDICA DEL TRATTAMENTO di questi dati è costituita dal legittimo interesse dei titolari costituito dalla tutela della sicurezza dei dati e buon funzionamento del sito.
        %p.text--legal
          MODALITA’ ED INCARICATI DEL TRATTAMENTO
          %br
          I dati personali sono trattati con strumenti automatizzati per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti. I trattamenti ai servizi web di questo sito sono curati da personale incaricato dal Titolare nonché da soggetti esterni, nominati responsabili, incaricati della gestione tecnica e manutenzione del sito e dei relativi sistemi informatici. Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.
        %p.text--legal
          Nessun dato derivante dal servizio web viene diffuso.
        %p.text--legal
          I dati personali forniti dagli utenti che inoltrano richieste di invio di materiale informativo (newsletter, risposte a quesiti, ecc.) sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e sono comunicati a terzi nel solo caso in cui ciò sia a tal fine necessario.
        %p.text--legal
          CONFERIMENTO DEI DATI
          %br
          A parte quanto specificato per i dati di navigazione, l’utente è libero di fornire i dati personali richiesti nel corso della navigazione per sollecitare l’invio di materiale informativo o di altre comunicazioni. Il loro mancato conferimento può comportare l’impossibilità di ottenere quanto richiesto.
        %p.text--legal
          DATI FORNITI VOLONTARIAMENTE DALL’UTENTE
          %br
          Quando l’utente visita una parte del Sito che richiede la raccolta di dati personali gli viene riproposto un link al presente documento informativo e, se necessario, gli viene richiesto un consenso
          %br
          L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell’indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva che, salvo diverse esigenze debitamente comunicate, verranno conservati per il tempo necessario a soddisfare le richieste
          %br
          Di seguito sono rese disponibili specifiche informative riferite alle pagine del sito predisposte per particolari servizi a richiesta o tramite le quali sia possibile acquisire ulteriori dati personali.
        %p.text--legal
          TRATTAMENTI CONSEGUENTI AD UNA RICHIESTA DI CONTATTO O PREVENTIVO
          %br
          I dati personali conferiti spontaneamente dell’interessato tramite l’area contatti, i form di richiesta o gli indirizzi e-mail resi disponibili sul sito:
          %br
          1. sono trattati con strumenti prevalentemente automatizzati per:
          %br
          1.1. Assicurare una risposta certa e tempestiva e soddisfare le richieste dell’interessato stesso
          %br
          1.2. adempiere ad obblighi derivanti da leggi, norme e regolamenti comunitari; adempimento disposizioni impartite dall’Autorità Giudiziaria,
          %br
          1.3. Alimentare il sistema di acquisizione delle conoscenze del pubblico tramite analisi statistiche, effettuate attraverso dati anonimizzati ed aggregati, utili per la verifica, miglioramento e quindi progettazione di un servizio sempre più efficiente ed adeguato alla domanda,
          %br
          2. I recapiti, gli indirizzi postali e di posta elettronica forniti potranno essere utilizzati per l’invio di comunicazioni di cortesia e/o di materiale informativo/offerte relative a prodotti proposti e servizi erogati dai Titolari del trattamento, ciò ovviamente con il consenso dell’interessato, ciò anche via sms o altre piattaforme di comunicazione accessibili attraverso il/i recapito/i forniti, quali whatsapp. Resta inteso che l’interessato avrà comunque facoltà di opporsi in ogni momento al suddetto trattamento. A tal proposito si specifica che, anche prestando il proprio consenso, l’interessato ha la possibilità di esprimere le proprie scelte circa i canali utilizzabili per l’invio di tali comunicazioni avendo la possibilità di inserire anche solo uno dei recapiti richiesti nel form.
          %br
          2.1. Qualora nel breve termine rispetto ad una richiesta di preventivo riferita ad una specifica autovettura, i Titolari fossero nelle condizioni di presentare una offerta per un veicolo con analoghe caratteristiche, questa potrà essere inviata all’interessato valutando che vi sia un legittimo interesse in tal senso Suo e del Titolare.
          %br
          3. potranno essere trattati da addetti commerciali, personale addetto alla manutenzione dei sistemi informatici che ha il compito di garantire la funzionalità dei sistemi, la sicurezza dei dati e le operazioni di backup, altro personale incaricato nei limiti delle mansioni assegnate e di quanto previsto dalle procedure aziendali ed altri soggetti che forniscono servizi per finalità ausiliare al soddisfacimento delle richieste dell’interessato, anch’essi nei limiti strettamente necessari per svolgere i propri compiti;
          %br
          4. potranno essere comunicati o resi disponibili:
          %br
          • a soggetti che possono accedere ai dati in forza di disposizione di legge, di regolamento o di normativa comunitaria, nei limiti previsti da tali norme,
          %br
          • ad altri soggetti che forniscono servizi per finalità connesse al soddisfacimento delle richieste dell’interessato, nei limiti strettamente necessari per svolgere i propri compiti.
          %br
          • altre società collegate (controllate – controllanti) sempre per correnti “finalità amministrativo contabili” connesse al soddisfacimento delle richieste dell’interessato
          %br
          • Partner proprietari del sito attraverso il quale è stato richiesto il preventivo
          %br
          Nella compilazione dei form vengono indicati i campi la cui compilazione è facoltativa, in assenza degli altri dati richiesti non sarà possibile soddisfare le richieste dell’interessato.
          %br
          Qualora all’atto della richiesta di contatto l’interessato dovesse comunicare categorie particolari di dati (quali: dati personali che rivelino l’origine razziale o etnica, le opinioni politiche, le convinzioni religiose o filosofiche, o l’appartenenza sindacale, nonché trattare dati genetici, dati biometrici intesi a identificare in modo univoco una persona fisica, dati relativi alla salute o alla vita sessuale o all’orientamento sessuale della persona) potrà essere richiesto uno specifico consenso al loro trattamento, in assenza del quale potrebbe risultare impossibile dare corso alle richieste dell’interessato stesso.
        %p.text--legal
          CONSERVAZIONE DEI DATI
          %br
          I dati comunicati, salvo diverse indicazioni dell’interessato debitamente comunicate, verranno conservati per il tempo necessario a soddisfare le richieste dell’interessato ed ottemperare a norme di legge.
          %br
          Ove l’interessato avesse un rapporto contrattuale con il Titolare i dati verranno conservati, se ad esso pertinenti, per la durata del contratto, cessato il quale la conservazione verrà proseguita solo se prevista da norme di legge e in conformità alle norme sulla conservazione della documentazione amministrativa.
          %br
          I recapiti per cui sia stato conferito il consenso per l’invio di comunicazioni di carattere commerciale saranno conservati sino a 18 mesi successivi all’ultimo invio o sino alla revoca del consenso da parte dell’interessato.
        %h2 COOKIE POLICY DI WWW.1503DESIGN.COM
        %p.text--legal
          %br
          COSA SONO I COOKIE
          %br
          %br
          Un cookie è una piccola quantità di dati, spesso contenenti un codice identificativo unico anonimo, che vengono inviati al browser da un server Web e che vengono successivamente memorizzati sul disco fisso del computer dell’utente. Il cookie viene poi riletto e riconosciuto solo dal sito Web che lo ha inviato ogniqualvolta si effettua una connessione successiva.
          %br
          Ricordiamo che il browser è il software che permette di navigare nella Rete tramite la visualizzazione ed il trasferimento delle informazioni sul disco fisso del computer dell’utente. Se le preferenze del browser sono impostate in modo da accettare i cookies, qualsiasi sito Web può inviare i suoi cookies al browser, ma – al fine di proteggere la privacy – può rilevare solo ed esclusivamente quelli inviati dal sito stesso, e non quelli invece inviati al browser da altri siti.
          %br
          In ogni caso i cookie non possono causare danni al computer dell’utente.
        %p.text--legal
          ATTIVITÀ STRETTAMENTE NECESSARIE A GARANTIRE IL FUNZIONAMENTO DI QUESTA APPLICAZIONE E LA FORNITURA DEL SERVIZIO
          %br
          %br
          Questa Applicazione usa Cookie o altri Identificatori per svolgere attività che sono strettamente necessarie a garantire il funzionamento o la fornitura del Servizio e, pertanto, non richiedono il consenso degli Utenti. Gli Utenti possono disabilitare tali Identificatori modificando le impostazioni del proprio browser o del proprio dispositivo così come descritto più dettagliatamente nel presente documento tuttavia ciò potrebbe influire negativamente sulle funzioni operative di base o comportare l'indisponibilità del Servizio.
        %p.text--legal
          MONITORAGGIO DELL'INFRASTRUTTURA
          %br
          %br
          Questo tipo di servizi permette a questa Applicazione di monitorare l’utilizzo ed il comportamento di componenti della stessa, per consentirne il miglioramento delle prestazioni e delle funzionalità, la manutenzione o la risoluzione di problemi.
          %br
          I Dati Personali trattati dipendono dalle caratteristiche e della modalità d’implementazione di questi servizi, che per loro natura filtrano l’attività di questa Applicazione.
        %p.text--legal
          > NEW RELIC (NEW RELIC)
          %br
          New Relic è un servizio di monitoraggio fornito da New Relic Inc.
          %br
          Le modalità di integrazione di New Relic prevedono che questo filtri tutto il traffico di questa Applicazione, ossia le comunicazioni fra questa Applicazione ed il browser o il device dell’Utente, permettendo anche la raccolta di dati statistici su di esso.
          %br
          <br/>
          Dati Personali trattati: Cookie, Dati di utilizzo e varie tipologie di Dati secondo quanto specificato dalla privacy policy del servizio.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://newrelic.com/termsandconditions/privacy', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          ALTRE ATTIVITÀ
          %br
          %br
          INTERAZIONI E FUNZIONALITÀ SEMPLICI
          %br
          %br
          Questa Applicazione usa Cookie o altri Identificatori per abilitare semplici interazioni e funzionalità che permettono agli Utenti di accedere a determinate risorse del Servizio e gli consentono di comunicare più facilmente con il Titolare.
        %p.text--legal
          > GESTIONE DEI TAG
          %br
          Questo tipo di servizi è funzionale alla gestione centralizzata dei tag o script utilizzati su questa Applicazione.
          %br
          L'uso di tali servizi comporta il fluire dei Dati dell'Utente attraverso gli stessi e, se del caso, la loro ritenzione.
          %br
          Google Tag Manager (Google Ireland Limited)
          %br
          Google Tag Manager è un servizio di gestione dei tag fornito da Google Ireland Limited.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          MISURAZIONE
          %br
          Questa Applicazione usa Cookie o altri Identificatori per misurare il traffico e analizzare il comportamento degli Utenti con l'obiettivo di migliorare il Servizio.
        %p.text--legal
          > SERVIZI DI STATISTICA ANONIMIZZATA
          %br
          I servizi contenuti nella presente sezione sono servizi di terza parte che permettono al Titolare, tramite l’uso di Cookie o altri Identificatori, di gestire le statistiche in forma anonimizzata. A seconda della legge applicabile, questi servizi potrebbero non richiedere il consenso dell'Utente. In tali casi gli Utenti possono disattivare gli Identificatori modificando le impostazioni del loro browser o dispositivo come descritto più dettagliatamente nel presente documento.
          %br
          %br
          1. Google Analytics con IP anonimizzato
          %br
          Google Analytics è un servizio di analisi web fornito da Google Inc. (“Google”). Google utilizza i Dati Personali raccolti allo scopo di tracciare ed esaminare l’utilizzo di questa Applicazione, compilare report e condividerli con gli altri servizi sviluppati da Google.
          %br
          Google potrebbe utilizzare i Dati Personali per contestualizzare e personalizzare gli annunci del proprio network pubblicitario.
          %br
          Questa integrazione di Google Analytics rende anonimo il tuo indirizzo IP. L'anonimizzazione funziona abbreviando entro i confini degli stati membri dell'Unione Europea o in altri Paesi aderenti all'accordo sullo Spazio Economico Europeo l'indirizzo IP degli Utenti. Solo in casi eccezionali, l'indirizzo IP sarà inviato ai server di Google ed abbreviato all'interno degli Stati Uniti.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://tools.google.com/dlpage/gaoptout?hl=it', target: '_blank')}; Irlanda - #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          > SERVIZI DI STATISTICA GESTITI DIRETTAMENTE DA QUESTA APPLICAZIONE
          %br
          I servizi contenuti nella presente sezione sono servizi di prima parte che permettono al Titolare, tramite l’uso di Cookie o altri Identificatori, di gestire le statistiche direttamente impiegate da questa Applicazione. A seconda della legge applicabile, questi servizi potrebbero non richiedere il consenso dell'Utente. In tali casi gli Utenti possono disattivare gli Identificatori modificando le impostazioni del loro browser o dispositivo come descritto più dettagliatamente nel presente documento.
        %p.text--legal
          1. Matomo (questa Applicazione)
          %br
          Matomo è un software di statistica utilizzato da questa Applicazione per analizzare i dati in maniera diretta e senza l’ausilio di terzi.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          Heap Analytics (Heap Inc.)
          %br
          Heap Analytics is an analytics service provided by Heap Inc.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to 'Privacy Policy', 'https://heapanalytics.com/privacy', target: '_blank'}.".html_safe

        %p.text--legal
          2. Monitoraggio conversioni di Twitter Ads (Twitter, Inc.)
          %br
          Il monitoraggio conversioni di Twitter Ads è un servizio di statistiche fornito da Twitter, Inc. che collega i dati provenienti dal network di annunci Twitter con le azioni compiute all'interno di questa Applicazione.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://twitter.com/privacy', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          3. Estensione User ID per Google Analytics
          %br
          Google Analytics su questa Applicazione utilizza una funzione chiamata User ID. Questa permette un tracciamento più accurato degli Utenti assegnando ad ognuno un ID unico per varie sessioni e dispositivi, ma in modo tale da non permettere a Google di identificare in maniera personale un individuo o identificare in modo permanente uno specifico dispositivo.
          %br
          L’estensione User ID permette inoltre di connettere Dati provenienti da Google Analytics con altri Dati relativi all’utente raccolti da questa Applicazione.
          %br
          Il link di Opt Out fornito di seguito consente di disattivare il tracciamento per il dispositivo che stai utilizzando, ma non esclude ulteriori attività di tracciamento effettuate dal Titolare. Per disattivare anche queste ultime, contatta il titolare tramite l’indirizzo email di contatto.
          %br
          Dati Personali trattati: Cookie.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://tools.google.com/dlpage/gaoptout?hl=it', target: '_blank')}; Irlanda - #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          4. Monitoraggio conversioni di Facebook Ads (pixel di Facebook) (Facebook, Inc.)
          %br
          Il monitoraggio conversioni di Facebook Ads (pixel di Facebook) è un servizio di statistiche fornito da Facebook, Inc. che collega i dati provenienti dal network di annunci Facebook con le azioni compiute all'interno di questa Applicazione. Il pixel di Facebook monitora le conversioni che possono essere attribuite alle inserzioni di Facebook, Instagram e Audience Network.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://www.facebook.com/about/privacy/', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          5. Monitoraggio conversioni di Linkedin Ads (pixel di Linkedin) (Facebook, Inc.)
          %br
          Il monitoraggio conversioni di Linkedin Ads (pixel di Linkedin) è un servizio di statistiche fornito da Linkedin, Inc. che collega i dati provenienti dal network di annunci Linkedin con le azioni compiute all'interno di questa Applicazione. Il pixel di Linkedin monitora le conversioni che possono essere attribuite alle inserzioni di Linkedin.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://www.linkedin.com/legal/privacy-policy', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          6. Funzionalità di generazione dei rapporti sulla pubblicità in Google Analytics
          %br
          Google Analytics su questa Applicazione ha attivato le funzionalità di generazione dei rapporti sulla pubblicità, che raccolgono informazioni aggiuntive dal cookie DoubleClick (attività web) e dagli ID pubblicitari del dispositivo (attività dell'applicazione). Questo permette al Proprietario di analizzare specifici Dati relativi ai comportamenti e agli interessi degli Utenti (Dati sul traffico e Dati di interazione con gli annunci da parte degli Utenti) e, se abilitati, Dati demografici (informazioni su età e sesso). Gli Utenti possono scegliere di non utilizzare i cookie di Google visitando le [Impostazioni annunci] (https://adssettings.google.com/authenticated) di Google.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://tools.google.com/dlpage/gaoptout?hl=it', target: '_blank')}; Irlanda - #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://tools.google.com/dlpage/gaoptout?hl=it', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          7. Rapporti sui dati demografici e sugli interessi di Google Analytics
          %br
          Rapporti sui dati demografici e sugli interessi di Google Analytics è una funzionalità di generazione dei rapporti sulla pubblicità che rende disponibili i Dati demografici e di interesse all'interno di Google Analytics per questa Applicazione (per Dati demografici si intendono i Dati su età e sesso). Gli Utenti possono scegliere di non utilizzare i cookie di Google visitando le [Impostazioni annunci] (https://adssettings.google.com/authenticated) di Google.
          %br
          Dati Personali trattati: Cookie e identificatori univoci di dispositivi per la pubblicità (Google Advertiser ID o identificatore IDFA, per esempio).
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://tools.google.com/dlpage/gaoptout?hl=it', target: '_blank')}; Irlanda - #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://tools.google.com/dlpage/gaoptout?hl=it', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          > TEST DI PERFORMANCE DI CONTENUTI E FUNZIONALITÀ (A/B TESTING)
          %br
          I servizi contenuti in questa sezione permettono al Titolare del Trattamento di tener traccia ed analizzare la risposta da parte dell’Utente, in termini di traffico o di comportamento, in relazione a modifiche della struttura, del testo o di qualunque altro componente di questa Applicazione.
          %br
          1. Google Optimize (Google Ireland Limited)
          %br
          Google Optimize è un servizio di A/B testing fornito da Google Ireland Limited ("Google"). Google potrebbe utilizzare i Dati Personali per contestualizzare e personalizzare gli annunci del suo network pubblicitario.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Irlanda – #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          TARGETING E PUBBLICITÀ
          %br
          Questa Applicazione usa Cookie o altri Identificatori per fornire contenuti commerciali personalizzati in base al comportamento dell'Utente e per gestire, fornire e tenere traccia degli annunci pubblicitari.
        %p.text--legal
          > REMARKETING E BEHAVIORAL TARGETING
          %br
          Questo tipo di servizi consente a questa Applicazione ed ai suoi partner di comunicare, ottimizzare e servire annunci pubblicitari basati sull'utilizzo passato di questa Applicazione da parte dell'Utente.
          %br
          Questa attività viene effettuata tramite il tracciamento dei Dati di Utilizzo e l'uso di Cookie, informazioni che vengono trasferite ai partner a cui l'attività di remarketing e behavioral targeting è collegata.
          %br
          = "In aggiunta alle possibilità di effettuare l'opt-out offerte dai servizi di seguito riportati, l'Utente può optare per l'esclusione rispetto alla ricezione dei cookie relativi ad un servizio terzo, visitando la #{link_to('pagina di opt-out del Network Advertising Initiative', 'http://optout.networkadvertising.org/', target: '_blank')}.".html_safe
        %p.text--legal
          1. AdRoll (AdRoll, Inc.)
          %br
          AdRoll è un servizio di advertising fornito da AdRoll, Inc.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://www.adroll.com/about/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://info.evidon.com/pub_info/573?v=1&nt=1&nw=false', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          2. Remarketing Google Ads
          %br
          = "Remarketing Google Ads è un servizio di remarketing e behavioral targeting fornito da Google LLC oppure da Google Ireland Limited, a seconda della posizione in cui questa Applicazione viene utilizzata, che collega l'attività di questa Applicazione con il network di advertising Google Ads ed il Cookie DoubleClick. Gli Utenti possono scegliere di non utilizzare i cookie di Google per la personalizzazione degli annunci visitando le #{link_to('Impostazioni annunci', 'https://adssettings.google.com/authenticated', target: '_blank')} di Google.".html_safe
        %p.text--legal
          3. Remarketing con Google Analytics
          %br
          Remarketing con Google Analytics è un servizio di remarketing e behavioral targeting fornito da Google LLC oppure da Google Ireland Limited, a seconda della posizione in cui questa Applicazione viene utilizzata, che collega l'attività di tracciamento effettuata da Google Analytics e dai suoi Cookie con il network di advertising Google Ads ed il Cookie Doubleclick.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://adssettings.google.com/authenticated?hl=it', target: '_blank')}; Irlanda - #{link_to('Privacy Policy', 'https://policies.google.com/privacy', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          4. Twitter Remarketing (Twitter, Inc.)
          %br
          Twitter Remarketing è un servizio di remarketing e behavioral targeting fornito da Twitter, Inc. che collega l'attività di questa Applicazione con il network di advertising Twitter.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://twitter.com/privacy', target: '_blank')} - #{link_to('Opt Out', 'https://support.twitter.com/articles/20170405', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          5. Facebook Custom Audience (Facebook, Inc.)
          %br
          Facebook Custom Audience è un servizio di remarketing e behavioral targeting fornito da Facebook, Inc. che collega l'attività di questa Applicazione con il network di advertising Facebook.
          %br
          Dati Personali trattati: Cookie e email.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://www.facebook.com/about/privacy/', target: '_blank')} - #{link_to('Opt Out', 'https://www.aboutads.info/choices/', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          6. Facebook Remarketing (Facebook, Inc.)
          %br
          Facebook Remarketing è un servizio di remarketing e behavioral targeting fornito da Facebook, Inc. che collega l'attività di questa Applicazione con il network di advertising Facebook.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://www.facebook.com/about/privacy/', target: '_blank')} - #{link_to('Opt Out', 'https://www.aboutads.info/choices/', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          7. Linkedin Retargeting (Linkedin, Inc.)
          %br
          Linkedin Retargeting è un servizio di remarketing e behavioral targeting fornito da Linkedin, Inc. che collega l'attività di questa Applicazione con il network di advertising Linkedin.
          %br
          Dati Personali trattati: Cookie e Dati di utilizzo.
          %br
          = "Luogo del trattamento: Stati Uniti – #{link_to('Privacy Policy', 'https://www.linkedin.com/legal/privacy-policy', target: '_blank')} - #{link_to('Opt Out', 'https://www.aboutads.info/choices/', target: '_blank')}. Soggetto aderente al Privacy Shield.".html_safe
        %p.text--legal
          COME PRESTARE O REVOCARE IL CONSENSO
          %br
          Gli Utenti possono prestare o revocare il proprio consenso all’uso dei Cookie e altri Identificatori impostando di conseguenza le proprie preferenze all’interno dell’infomativa sui cookie o aggiornando tali preferenze tramite l’apposito widget per le impostazioni di consenso, se disponibile.
          %br
          = "In aggiunta, gli Utenti possono gestire le proprie preferenze relative agli Identificatori direttamente dalle impostazioni del proprio dispositivo e prevenire - per esempio - l'accettazione di Identificatori di terze parti. Tramite le impostazioni del browser o del dispositivo, è inoltre possibile eliminare gli Identificatori salvati in passato, inclusi quelli usati per memorizzare il consenso iniziale prestato dall’Utente. Gli Utenti possono, trovare informazioni su come gestire gli Identificatori con alcuni dei browser più diffusi, ad esempio, ai seguenti indirizzi: #{link_to('Google Chrome', 'https://support.google.com/chrome/answer/95647?hl=en&p=cpn_cookies', target: '_blank')}, #{link_to('Mozilla Firefox', 'https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences', target: '_blank')}, #{link_to('Apple Safari', 'https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/', target: '_blank')}, e #{link_to('Microsoft Internet Explorer', 'http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies', target: '_blank')}.".html_safe
          %br
          Con riferimento agli Identificatori impiegati da terze parti, gli Utenti possono gestire le proprie impostazioni e revocare il proprio consenso visitando il relativo link di opt out (qualora disponibile), utilizzando gli strumenti descritti nella privacy policy della terza parte o contattando direttamente la stessa.
          %br
          = "Fermo restando quanto precede, si informano gli Utenti della possibilità di avvalersi delle informazioni fornite da #{link_to 'YourOnlineChoices', 'http://www.youronlinechoices.eu/', target: '_blank'} (EU), the #{link_to 'Network Advertising Initiative', 'https://www.networkadvertising.org/understanding-digital-advertising', target: '_blank'} (USA) and the #{link_to 'Digital Advertising Alliance', 'https://www.aboutads.info/consumers/', target: '_blank'} (USA), #{link_to 'DAAC', 'https://youradchoices.ca/understanding-online-advertising/', target: '_blank'} (Canada), #{link_to 'DDAI', 'http://www.ddai.info/optout', target: '_blank'} (Giappone) o altri servizi analoghi. Con questi servizi è possibile gestire le preferenze di tracciamento della maggior parte degli strumenti pubblicitari. Il Titolare, pertanto, consiglia agli Utenti di utilizzare tali risorse in aggiunta alle informazioni fornite dal presente documento.".html_safe
          %br
        %p.text--legal
          L’interessato ha il diritto:
          %br
          > di chiedere al titolare del trattamento l’accesso ai dati personali e la rettifica o la cancellazione degli stessi o la limitazione del trattamento dei dati personali che lo riguardano e di opporsi al loro trattamento,
          %br
          > se il trattamento è effettuato con mezzi automatizzati (informatici) e sulla base del proprio consenso, di ricevere in un formato strutturato, di uso comune e leggibile da dispositivo automatico i dati personali che lo riguardano e/o di ottenerne la trasmissione diretta ad altro titolare del trattamento, se tecnicamente fattibile
          %br
          > di revocare il proprio consenso in qualsiasi momento (senza che sia pregiudicata la liceità del trattamento basata sul consenso prima della revoca), ovviamente ciò per i trattamenti effettuati sulla base di tale presupposto > di proporre reclamo a un’autorità di controllo: Garante per la protezione dei dati personali – Piazza di Monte Citorio n. 121 00186 ROMA – Fax: (+39) 06.69677.3785 – Centralino telefonico: (+39) 06.696771 –
          %br
          E-mail: garante@gpdp.it – posta certificata protocollo@pec.gpdp.it
          %br
          Le richieste vanno rivolte a Ksenia Smirnova, Via Ascanio Sforza 21, 20136 Milano, Italia, tel: +39 3468441463 – anche attraverso l’indirizzo di posta elettronica ksenia@1503design.com, tenendo presente che non sarà possibile rispondere a richieste pervenute telefonicamente ove non vi sia certezza circa l’identità del richiedente.
        %p.text--legal
          TITOLARE DEL TRATTAMENTO DEI DATI
          %br
          Ksenia Smirnova
          %br
          Via Ascanio Sforza, 21 - 20133 Milano
          %br
          Camera di Commercio di Milano, Lodi, Monza e Brianza
          %br
          P. Iva e n. di reg.: IT07347120961
          %br
          CS: 12987 Eur (i.v.)
          %br
          amministratore: Ksenia Smirnova
          %br
          Indirizzo email del Titolare: ksenia@1503design.com
          %br
          Dal momento che l’uso di Cookie e altri Identificatori operato da terze parti tramite i servizi utilizzati all'interno di questa Applicazione non può essere tecnicamente controllato dal Titolare, ogni riferimento specifico ad Identificatori utilizzati da terze parti è da considerarsi indicativo. Per ottenere informazioni complete, l’Utente è invitato a consultare la privacy policy degli eventuali servizi terzi elencati in questo documento.
          %br
          Vista l'oggettiva complessità di identificazione delle tecnologie basate sui Cookie e altri Identificatori, gli Utenti sono invitati a contattare il Titolare qualora volessero ricevere qualunque approfondimento relativo all'utilizzo di tali Identificatori tramite questa Applicazione.
        %p.text--legal
          DEFINIZIONI E RIFERIMENTI LEGALI
          %br
          %br
          > Dati Personali (o Dati)
          %br
          Costituisce dato personale qualunque informazione che, direttamente o indirettamente, anche in collegamento con qualsiasi altra informazione, ivi compreso un numero di identificazione personale, renda identificata o identificabile una persona fisica.
          %br
          %br
          > Dati di Utilizzo
          %br
          Sono le informazioni raccolte automaticamente attraverso questa Applicazione (anche da applicazioni di parti terze integrate in questa Applicazione), tra cui: gli indirizzi IP o i nomi a dominio dei computer utilizzati dall’Utente che si connette con questa Applicazione, gli indirizzi in notazione URI (Uniform Resource Identifier), l’orario della richiesta, il metodo utilizzato nell’inoltrare la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta dal server (buon fine, errore, ecc.) il paese di provenienza, le caratteristiche del browser e del sistema operativo utilizzati dal visitatore, le varie connotazioni temporali della visita (ad esempio il tempo di permanenza su ciascuna pagina) e i dettagli relativi all’itinerario seguito all’interno dell’Applicazione, con particolare riferimento alla sequenza delle pagine consultate, ai parametri relativi al sistema operativo e all’ambiente informatico dell’Utente.
          %br
          %br
          > Utente
          %br
          L'individuo che utilizza questa Applicazione che, salvo ove diversamente specificato, coincide con l'Interessato.
          %br
          %br
          > Interessato
          %br
          La persona fisica cui si riferiscono i Dati Personali.
          %br
          %br
          > Responsabile del Trattamento (o Responsabile)
          %br
          La persona fisica, giuridica, la pubblica amministrazione e qualsiasi altro ente che tratta dati personali per conto del Titolare, secondo quanto esposto nella presente privacy policy.
          %br
          %br
          > Titolare del Trattamento (o Titolare)
          %br
          La persona fisica o giuridica, l'autorità pubblica, il servizio o altro organismo che, singolarmente o insieme ad altri, determina le finalità e i mezzi del trattamento di dati personali e gli strumenti adottati, ivi comprese le misure di sicurezza relative al funzionamento ed alla fruizione di questa Applicazione. Il Titolare del Trattamento, salvo quanto diversamente specificato, è il titolare di questa Applicazione.
          %br
          %br
          > Questa Applicazione
          %br
          Lo strumento hardware o software mediante il quale sono raccolti e trattati i Dati Personali degli Utenti.
          %br
          %br
          > Servizio
          %br
          Il Servizio fornito da questa Applicazione così come definito nei relativi termini (se presenti) su questo sito/applicazione.
          %br
          %br
          > Unione Europea (o UE)
          %br
          Salvo ove diversamente specificato, ogni riferimento all’Unione Europea contenuto in questo documento si intende esteso a tutti gli attuali stati membri dell’Unione Europea e dello Spazio Economico Europeo.
          %br
          %br
          > Cookie
          %br
          I Cookie sono Identificatori che consistono in piccole porzioni di dati conservate all'interno del dispositivo dell'Utente.
          %br
          %br
          > Identificatori
          %br
          Qualsiasi tecnologia - compresi i Cookie - che permette la conservazione di informazioni, o l’accesso ad informazioni già salvate, sul dispositivo dell’Utente.
          %br
          %br
          > Email
          %br
          Fornisce accesso all'indirizzo email primario dell'Utente.
          %br
          %br
          > Riferimenti legali
          %br
          La presente informativa privacy è redatta sulla base di molteplici ordinamenti legislativi, inclusi gli artt. 13 e 14 del Regolamento (UE) 2016/679.
          %br
          %br
          Ove non diversamente specificato, questa informativa privacy riguarda esclusivamente questa Applicazione.
        %h2 PRIVACY POLICY
        %p.text--legal
          Information pursuant to art. 13 EU Reg. 2016/679 "
          %br
          This page describes how the site is managed with reference to the processing of personal data of users who consult it or use the services it offers.
          %br
          The information is provided only for this site and not for other websites that may be consulted by the user through links.
        %p.text--legal
          IMPORTANT: if the age of the user is less than 18 years, a parent or guardian must read the conditions listed here and approve them before starting to use the Site and its services
        %p.text--legal
          THE "OWNER" OF THE TREATMENT
          %br
          Following consultation of this site, data relating to identified or identifiable persons may be processed.
        %p.text--legal
          Data controllers are the following companies:
          %br
          > Ksenia Smirnova, P.Iva 09040380967 - Via Ascanio Sforza 21, 20136 Milan, Italy - to which all operations connected to the management of the site are delegated
        %p.text--legal
          Associated companies, which participate together in the management of the services provided through the site and in satisfying the requests of the interested parties as well as in the information and sending of commercial communications.
        %p.text--legal
          TYPES OF DATA PROCESSED - Navigation data
          %br
          During their normal operation, the IT systems and software procedures used to operate this website acquire some personal data whose transmission is implicit in the use of Internet communication protocols.
          %br
          This is information that is not collected to be associated with identified interested parties, but which by its very nature could, through processing and association with data held by third parties, allow users to be identified.
          %br
          This category of data includes the IP addresses or domain names of the computers used by users who connect to the site, the addresses in URI (Uniform Resource Identifier) notation of the requested resources, the time of the request, the method used in submitting the request to the server, the size of the file obtained in response, the numerical code indicating the status of the response given by the server (successful, error, etc.) and other parameters relating to the operating system and the user's computer environment.
          %br
          These data are used for the sole purpose of obtaining anonymous statistical information on the use of the site and to check its correct functioning. The data could be used to ascertain responsibility in the event of hypothetical computer crimes against the site and only in this case will specific procedures aimed at identifying the author be activated.
        %p.text--legal
          THE LEGAL BASIS OF THE PROCESSING of these data is the legitimate interest of the owners consisting of the protection of data security and the proper functioning of the site.
        %p.text--legal
          METHODS AND PERSONS IN CHARGE OF THE TREATMENT
          %br
          Personal data are processed with automated tools for the time strictly necessary to achieve the purposes for which they were collected. The treatments for the web services of this site are handled by personnel appointed by the Data Controller as well as by external subjects, appointed as managers, in charge of the technical management and maintenance of the site and related IT systems. Specific security measures are observed to prevent data loss, illicit or incorrect use and unauthorized access.
        %p.text--legal
          No data deriving from the web service is disclosed.
        %p.text--legal
          The personal data provided by users who request dispatch of informative material (newsletter, answers to questions, etc.) are used for the sole purpose of carrying out the service or provision requested and are communicated to third parties only if this is the case. this is necessary.
        %p.text--legal
          DATA CONFERENCE
          %br
          Apart from that specified for navigation data, the user is free to provide the personal data requested during navigation to request the sending of informative material or other communications. Their absence may make it impossible to obtain what is requested.
        %p.text--legal
          DATA PROVIDED VOLUNTARILY BY THE USER
          %br
          When the user visits a part of the site that requires the collection of personal data, a link to this information document is proposed and, if necessary, consent is required
          %br
          The optional, explicit and voluntary sending of emails to the addresses indicated on this site entails the subsequent acquisition of the sender's address, necessary to respond to requests, as well as any other personal data included in the message which, unless otherwise duly communicated, they will be kept for the time necessary to satisfy requests
          %br
          Specific information relating to the pages of the site prepared for particular services on request or through which it is possible to acquire further personal data is made available below.
        %p.text--legal
          TREATMENTS CONSEQUENT OF A CONTACT OR QUOTE REQUEST
          %br
          The personal data spontaneously provided by the interested party through the contact area, the request form or the e-mail addresses made available on the site:
          %br
          1. are processed with mainly automated tools for:
          %br
          1.1. Ensure a certain and timely response and satisfy the requests of the data subject himself
          %br
          1.2. fulfill obligations deriving from community laws, rules and regulations; fulfillment of instructions given by the Judicial Authority,
          %br
          1.3. Feed the public knowledge acquisition system through statistical analyzes, carried out through anonymized and aggregated data, useful for the verification, improvement and therefore design of an increasingly efficient and adequate service to the demand,
          %br
          2. The contact details, postal and e-mail addresses provided may be used to send courtesy communications and / or information material / offers relating to the products offered and services provided by the Data Controllers, obviously with the consent of the 'interested, this also via sms or other communication platforms accessible through the contact (s) provided, such as whatsapp. It is understood that the interested party will still have the right to object to the aforementioned treatment at any time. In this regard, it is specified that, even by giving their consent, the interested party has the possibility of expressing his choices about the channels that can be used for sending these communications having the possibility of including even one of the contact details requested in the form.
          %br
          2.1. If in the short term compared to a request for a quote relating to a specific car, the Owners were in a position to submit an offer for a vehicle with similar characteristics, this can be sent to the interested party considering that there is a legitimate interest in this regard. and the owner.
          %br
          3. commercial staff, IT system maintenance personnel who have the task of guaranteeing the functionality of the systems, data security and backup operations, other personnel in charge within the limits of the assigned tasks and as required by the company procedures and other subjects that provide services for purposes auxiliary to satisfying the requests of the interested party, also within the limits strictly necessary to carry out their duties;
          %br
          4. the following may be communicated or made available:
          %br
          • to subjects who can access the data by virtue of the provisions of the law, regulation or community legislation, within the limits set by these rules,
          %br
          • to other subjects who provide services for purposes related to the satisfaction of the data subject's requests, within the limits strictly necessary to perform their duties.
          %br
          • other associated companies (subsidiaries - parent companies) always for current "administrative and accounting purposes" connected to satisfying the requests of the interested party
          %br
          • Partner owners of the site through which the quote was requested
          %br
          When filling out the forms, the fields whose compilation is optional are indicated, in the absence of the other requested data it will not be possible to satisfy the requests of the interested party.
          %br
          If at the time of the contact request the interested party should communicate particular categories of data (such as: personal data that reveal racial or ethnic origin, political opinions, religious or philosophical beliefs, or union membership, as well as processing data genetic, biometric data intended to uniquely identify a natural person, data relating to the health or sexual life or sexual orientation of the person) specific consent may be required for their treatment, in the absence of which it may be impossible to carry out the requests from the interested party.
        %p.text--legal
          RETENTION OF DATA
          %br
          The communicated data, unless otherwise indicated by the interested party duly communicated, will be kept for the time necessary to satisfy the requests of the interested party and comply with the law.
          %br
          If the interested party has a contractual relationship with the Data Controller, the data will be kept, if relevant to it, for the duration of the contract, after which the storage will be continued only if required by law and in accordance with the rules on the conservation of documentation administrative.
          %br
          The contact details for which consent has been given for sending commercial communications will be kept for up to 18 months following the last sending or until the withdrawal of the consent by the interested party.

        %h2 WWW.1503DESIGN.COM COOKIE POLICY
        %p.text--legal
          WHAT COOKIES ARE
          %br
          %br
          A cookie is a small amount of data, often containing a unique anonymous identification code, which is sent to the browser by a Web server and which is subsequently stored on the hard disk of the user's computer. The cookie is then reread and recognized only by the website that sent it every time a subsequent connection is made.
          %br
          We remind you that the browser is the software that allows you to browse the Net by viewing and transferring information on the hard disk of the user's computer. If the browser preferences are set to accept cookies, any website can send its cookies to the browser, but - in order to protect privacy - it can only and exclusively detect those sent by the site itself, and not those sent instead. to the browser from other sites.
          %br
          In any case, cookies cannot cause damage to the user's computer.
        %p.text--legal
          ACTIVITIES STRICTLY NECESSARY TO ENSURE THE OPERATION OF THIS APPLICATION AND THE PROVISION OF THE SERVICE
          %br
          %br
          This Application uses Cookies or other Identifiers to carry out activities that are strictly necessary to guarantee the functioning or supply of the Service and, therefore, do not require the consent of the Users. Users can disable these Identifiers by changing the settings of their browser or device as described in more detail in this document, however this could adversely affect the basic operating functions or result in the unavailability of the Service.
        %p.text--legal
          INFRASTRUCTURE MONITORING
          %br
          This type of service allows this Application to monitor the use and behavior of components of the same, to allow for improved performance and functionality, maintenance or troubleshooting.
          %br
          The Personal Data processed depend on the characteristics and methods of implementation of these services, which by their nature filter the activity of this Application.
        %p.text--legal
          >NEW RELIC
          %br
          New Relic is a monitoring service provided by New Relic Inc.
          %br
          The New Relic integration methods provide that this filters all traffic of this Application, i.e. the communications between this Application and the User's browser or device, also allowing the collection of statistical data on it.
          %br
          Personal Data processed: Cookies, Usage data and various types of Data as specified in the privacy policy of the service.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://newrelic.com/termsandconditions/privacy', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
        %p.text--legal
          OTHER ACTIVITIES
          %br
          %br
          SIMPLE INTERACTIONS AND FUNCTIONALITY
          %br
          %br
          This Application uses Cookies or other Identifiers to enable simple interactions and functionalities that allow Users to access certain resources of the Service and allow them to communicate more easily with the Owner.
        %p.text--legal
          > TAG MANAGEMENT
          %br
          This type of service is functional to the centralized management of the tags or scripts used on this Application.
          %br
          The use of these services involves the flow of User Data through them and, if necessary, their retention.
          %br
          Google Tag Manager (Google Ireland Limited)
          %br
          Google Tag Manager is a tag management service provided by Google Ireland Limited.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
        %p.text--legal
          MEASUREMENT
          %br
          This Application uses Cookies or other Identifiers to measure traffic and analyze User behavior with the aim of improving the Service.
        %p.text--legal
          > ANONYMISED STATISTICS SERVICES
          %br
          The services contained in this section are third-party services that allow the Owner, through the use of Cookies or other Identifiers, to manage the statistics in anonymized form. Depending on the applicable law, these services may not require the User's consent. In such cases, Users can disable the Identifiers by changing the settings of their browser or device as described in more detail in this document.
        %p.text--legal
          1.Google Analytics with anonymized IP
          %br
          Google Analytics is a web analysis service provided by Google Inc. ("Google"). Google uses the Personal Data collected for the purpose of tracking and examining the use of this Application, compiling reports and sharing them with other services developed by Google.
          %br
          Google could use Personal Data to contextualize and personalize the advertisements of its advertising network.
          %br
          This integration of Google Analytics makes your IP address anonymous. Anonymization works by shortening the IP address of the Users within the borders of the member states of the European Union or in other countries adhering to the agreement on the European Economic Area. Only in exceptional cases will the IP address be sent to Google's servers and abbreviated within the United States.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} - #{link_to 'Opt Out', 'https://tools.google.com/dlpage/gaoptout?hl=it', target: '_blank'}; Ireland - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
          %br
        %p.text--legal
          > STATISTICS SERVICES MANAGED DIRECTLY BY THIS APPLICATION
          %br
          The services contained in this section are first-party services that allow the Owner, through the use of Cookies or other Identifiers, to manage the statistics directly used by this Application. Depending on the applicable law, these services may not require the User's consent. In such cases, Users can disable the Identifiers by changing the settings of their browser or device as described in more detail in this document.
        %p.text--legal
          1. Matomo (this Application)
          %br
          Matomo is a statistical software used by this Application to analyze data directly and without the help of third parties.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          Heap Analytics (Heap Inc.)
          %br
          Heap Analytics is an analytics service provided by Heap Inc.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://heapanalytics.com/privacy', target: '_blank'}.".html_safe
        %p.text--legal
          2. Twitter Ads conversion tracking (Twitter, Inc.)
          %br
          Twitter Ads conversion tracking is a statistics service provided by Twitter, Inc. that connects data from the Twitter ad network with the actions performed within this Application.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://twitter.com/privacy', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
        %p.text--legal
          3. User ID extension for Google Analytics
          %br
          Google Analytics on this Application uses a function called User ID. This allows a more accurate tracking of Users by assigning each one a unique ID for various sessions and devices, but in such a way as not to allow Google to personally identify an individual or permanently identify a specific device.
          %br
          The User ID extension also allows you to connect data from Google Analytics with other user-related data collected by this application.
          %br
          The Opt Out link provided below allows you to disable tracking for the device you are using, but does not exclude further tracking activities carried out by the Owner. To deactivate the latter, contact the owner via the contact email address.
          %br
          Personal Data processed: Cookies.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://tools.google.com/dlpage/gaoptout', target: '_blank'}; Ireland - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
        %p.text--legal
          4. Facebook Ads conversion tracking (Facebook pixels) (Facebook, Inc.)
          %br
          Facebook Ads conversion tracking (Facebook pixel) is a statistics service provided by Facebook, Inc. that connects data from the Facebook ad network with the actions performed within this Application. The Facebook pixel monitors the conversions that can be attributed to Facebook, Instagram and Audience Network adverts.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://www.facebook.com/about/privacy/', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
        %p.text--legal
          5. Linkedin Ads conversion tracking (Linkedin pixels) (Facebook, Inc.)
          %br
          The conversion monitoring of Linkedin Ads (Linkedin pixels) is a statistics service provided by Linkedin, Inc. that connects data from the Linkedin ad network with the actions performed within this Application. The Linkedin pixel monitors the conversions that can be attributed to Linkedin advertisements.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://www.linkedin.com/legal/privacy-policy', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
        %p.text--legal
          6. Google Analytics advertising reporting functionality
          %br
          Google Analytics on this Application has activated the advertising reporting functions, which collect additional information from the DoubleClick cookie (web activity) and from the device's advertising IDs (application activity). This allows the Owner to analyze specific Data relating to Users' behaviors and interests (Traffic data and User interaction data with advertisements) and, if enabled, Demographic data (information on age and gender). Users can choose not to use Google cookies by visiting Google's [Ad Settings] (https://adssettings.google.com/authenticated).
          %br
          Personal Data processed: Cookies, unique identifiers of advertising devices (Google Advertiser ID or IDFA identifier, for example) and various types of data as specified in the privacy policy of the service.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://tools.google.com/dlpage/gaoptout?hl=it', target: '_blank'}; Ireland - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://tools.google.com/dlpage/gaoptout', target: '_blank'}. Person adhering to the Privacy Shield.".html_safe
        %p.text--legal
          7. Google Analytics demographics and interests reports
          %br
          Google Analytics Demographics and Interests Reports is an advertising reporting feature that makes demographics and interest data available within Google Analytics for this Application (Demographics means Age and Gender data) . Users can choose not to use Google cookies by visiting Google's [Ad Settings] (https://adssettings.google.com/authenticated).
          %br
          Personal Data processed: Cookies and unique identifiers of advertising devices (Google Advertiser ID or IDFA identifier, for example).
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://tools.google.com/dlpage/gaoptout', target: '_blank'}; Ireland - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://tools.google.com/dlpage/gaoptout', target: '_blank'}. Person adhering to the Privacy Shield.".html_safe
        %p.text--legal
          > PERFORMANCE TESTING OF CONTENT AND FUNCTIONALITY (A / B TESTING)
          %br
          The services contained in this section allow the Data Controller to track and analyze the response from the User, in terms of traffic or behavior, in relation to changes in the structure, text or any other component of this Application.
        %p.text--legal
          1. Google Optimize (Google Ireland Limited)
          %br
          Google Optimize is an A / B testing service provided by Google Ireland Limited ("Google"). Google could use Personal Data to contextualize and personalize the advertisements of its advertising network.
          %br
          Personal Data processed: Cookies and Usage Data.
          = "Place of treatment: Ireland - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
        %p.text--legal
          TARGETING AND ADVERTISING
          %br
          This Application uses Cookies or other Identifiers to provide personalized commercial content based on User behavior and to manage, provide and track advertisements.
        %p.text--legal
          > REMARKETING AND BEHAVIORAL TARGETING
          %br
          This type of service allows this Application and its partners to communicate, optimize and serve advertisements based on the past use of this Application by the User.
          %br
          This activity is carried out through the tracking of Usage Data and the use of Cookies, information that is transferred to the partners to whom the remarketing and behavioral targeting activity is linked.
          %br
          = "In addition to the options to opt-out offered by the services listed below, the User can opt for the exclusion from the reception of cookies relating to a third party service, by visiting the #{link_to 'opt-out page of Network Advertising Initiative', 'http://optout.networkadvertising.org/', target: '_blank'}.".html_safe
        %p.text--legal
          1. AdRoll (AdRoll, Inc.)
          %br
          AdRoll is an advertising service provided by AdRoll, Inc.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://www.adroll.com/about/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://info.evidon.com/pub_info/573?v=1&nt=1&nw=false', target: '_blank'}".html_safe
        %p.text--legal
          2. Google Ads remarketing
          %br
          = "Remarketing Google Ads is a remarketing and behavioral targeting service provided by Google LLC or by Google Ireland Limited, depending on the position in which this Application is used, which connects the activity of this Application with the Google Ads advertising network and the Cookie. DoubleClick. Users can choose not to use Google cookies for ad personalization by visiting their #{link_to 'Google Ad Settings', 'https://adssettings.google.com', target: '_blank'}.".html_safe
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://adssettings.google.com/authenticated?hl=it', target: '_blank'}; Ireland - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://adssettings.google.com/authenticated#display_optout', target: '_blank'}. Person adhering to the Privacy Shield.".html_safe
        %p.text--legal
          3. Remarketing with Google Analytics
          %br
          Remarketing with Google Analytics is a remarketing and behavioral targeting service provided by Google LLC or by Google Ireland Limited, depending on the position in which this Application is used, which connects the tracking activity carried out by Google Analytics and its Cookies with the Google Ads advertising network and the Doubleclick Cookie.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://adssettings.google.com/authenticated?hl=it', target: '_blank'}; Ireland - #{link_to 'Privacy Policy', 'https://policies.google.com/privacy', target: '_blank'}. Subject adhering to the Privacy Shield.".html_safe
        %p.text--legal
          4. Twitter Remarketing (Twitter, Inc.)
          %br
          Twitter Remarketing is a remarketing and behavioral targeting service provided by Twitter, Inc. that connects the activity of this Application with the Twitter advertising network.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://twitter.com/privacy', target: '_blank'} – #{link_to 'Opt Out', 'https://support.twitter.com/articles/20170405', target: '_blank'}. Person adhering to the Privacy Shield.".html_safe
        %p.text--legal
          5. Facebook Custom Audience (Facebook, Inc.)
          %br
          Facebook Custom Audience is a remarketing and behavioral targeting service provided by Facebook, Inc. that connects the activity of this Application with the Facebook advertising network.
          %br
          Personal Data processed: Cookies and emails.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://www.facebook.com/about/privacy/', target: '_blank'} – #{link_to 'Opt Out', 'https://www.aboutads.info/choices/', target: '_blank'}. Person adhering to the Privacy Shield.".html_safe
        %p.text--legal
          6. Facebook Remarketing (Facebook, Inc.)
          %br
          Facebook Remarketing is a remarketing and behavioral targeting service provided by Facebook, Inc. that connects the activity of this Application with the Facebook advertising network.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://www.facebook.com/about/privacy/', target: '_blank'} – #{link_to 'Opt Out', 'https://www.aboutads.info/choices/', target: '_blank'}. Person adhering to the Privacy Shield.".html_safe
        %p.text--legal
          7. Linkedin Retargeting (Linkedin, Inc.)
          %br
          Linkedin Retargeting is a remarketing and behavioral targeting service provided by Linkedin, Inc. that connects the activity of this Application with the Linkedin advertising network.
          %br
          Personal Data processed: Cookies and Usage Data.
          %br
          = "Place of treatment: United States - #{link_to 'Privacy Policy', 'https://www.linkedin.com/legal/privacy-policy', target: '_blank'} – #{link_to 'Opt Out', 'https://www.aboutads.info/choices/', target: '_blank'}. Person adhering to the Privacy Shield.".html_safe
        %p.text--legal
          HOW TO GIVE OR WITHDRAW CONSENT
          %br
          Users can give or withdraw their consent to the use of cookies and other identifiers by setting their preferences accordingly within the cookie information or by updating these preferences through the appropriate widget for consent settings, if available.
          %br
          = "In addition, Users can manage their Identifier preferences directly from their device settings and prevent - for example - the acceptance of third-party Identifiers. Through the browser or device settings, it is also possible to delete the Identifiers saved in the past, including those used to store the initial consent given by the User. Users can find information on how to manage the Identifiers with some of the most popular browsers, for example, at the following addresses: #{link_to 'Google Chrome', 'https://support.google.com/chrome/answer/95647?hl=en&p=cpn_cookies', target: '_blank'}, #{link_to 'Mozilla Firefox', 'https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences', target: '_blank'}, #{link_to 'Apple Safari', 'https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/', target: '_blank'} and #{link_to 'Microsoft Internet Explorer', 'http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies', target: '_blank'}.".html_safe
          %br
          With reference to the Identifiers used by third parties, Users can manage their settings and withdraw their consent by visiting the relative opt out link (if available), using the tools described in the third party's privacy policy or by contacting the same directly.
          %br
          = "Without prejudice to the foregoing, Users are informed of the possibility of using the information provided by #{link_to 'YourOnlineChoices', 'http://www.youronlinechoices.eu/', target: '_blank'} (EU), the #{link_to 'Network Advertising Initiative', 'https://www.networkadvertising.org/understanding-digital-advertising', target: '_blank'} (USA) and the #{link_to 'Digital Advertising Alliance', 'https://www.aboutads.info/consumers/', target: '_blank'} (USA), #{link_to 'DAAC', 'https://youradchoices.ca/understanding-online-advertising/', target: '_blank'} (Canada), #{link_to 'DDAI', 'http://www.ddai.info/optout', target: '_blank'} (Japan) or other services analogs. With these services it is possible to manage the tracking preferences of most advertising tools. The Owner therefore recommends that Users use these resources in addition to the information provided in this document.".html_safe
          %br
        %p.text--legal
          RIGHTS OF THE INTERESTED PARTIES
          %br
          The interested party has the right:
          %br
          > to ask the data controller to access personal data and to correct or delete them or limit the processing of personal data concerning him and to oppose their treatment,
          %br
          > if the processing is carried out by automated (IT) means and on the basis of your consent, to receive your personal data in a structured format, commonly used and readable by an automatic device and / or to obtain direct transmission to another data controller, if technically feasible
          %br
          > to withdraw your consent at any time (without prejudice to the lawfulness of the treatment based on consent before the revocation), obviously this for the treatments carried out on the basis of this assumption> to propose a complaint to a supervisory authority: Guarantor for the protection of personal data - Piazza di Monte Citorio n. 121 00186 ROME - Fax: (+39) 06.69677.3785 - Telephone switchboard: (+39) 06.696771 -
          %br
          E-mail: garante@gpdp.it - certified mail protocol@pec.gpdp.it
          %br
          Requests should be sent to Ksenia Smirnova, Via Ascanio Sforza 21, 20136 Milan, Italy, tel: +39 3468441463 - also through the e-mail address ksenia@1503design.com, bearing in mind that it will not be possible to respond to requests received by phone where there is no certainty about the identity of the applicant.
        %p.text--legal
          DATA CONTROLLER
          %br
          Via Ascanio Sforza, 21 - 20133 Milan
          %br
          Chamber of Commerce of Milan, Lodi, Monza and Brianza
          %br
          P. Iva and n. of reg .: IT07347120961
          %br
          CS: 12987 Eur (i.v.)
          %br
          administrator: Ksenia Smirnova
          %br
          Owner contact email: ksenia@1503design.com
          %br
          Since the use of Cookies and other Identifiers by third parties through the services used within this Application cannot be technically controlled by the Owner, any specific references to Identifiers used by third parties are to be considered indicative. To obtain complete information, the User is invited to consult the privacy policy of any third party services listed in this document.
          %br
          Given the objective complexity of identifying technologies based on Cookies and other Identifiers, Users are invited to contact the Owner if they wish to receive any further information relating to the use of these Identifiers through this Application.
        %p.text--legal
          DEFINITIONS AND LEGAL REFERENCES
          %br
          > Personal Data (or Data)
          %br
          It constitutes personal data any information which, directly or indirectly, also in connection with any other information, including a personal identification number, makes a natural person identified or identifiable.
          %br
          %br
          > Usage data
          %br
          These are the information collected automatically through this Application (also from third party applications integrated into this Application), including: IP addresses or domain names of the computers used by the User who connects with this Application, addresses in URI notation ( Uniform Resource Identifier), the time of the request, the method used to forward the request to the server, the size of the file obtained in response, the numeric code indicating the status of the response from the server (successful, error, etc.). country of origin, the characteristics of the browser and operating system used by the visitor, the various temporal connotations of the visit (for example the time spent on each page) and the details of the itinerary followed within the Application, with particular reference the sequence of pages consulted, the parameters relating to the operating system and the IT environment of User.
          %br
          %br
          > User
          %br
          The individual who uses this Application who, unless otherwise specified, coincides with the interested party.
          %br
          %br
          > Interested
          %br
          The natural person to whom the Personal Data refers.
          %br
          %br
          > Data Processor (or Responsible)
          %br
          The natural person, legal entity, public administration and any other entity that processes personal data on behalf of the Data Controller, as set out in this privacy policy.
          %br
          %br
          > Data Controller (or Owner)
          %br
          The natural or legal person, public authority, service or other body which, individually or together with others, determines the purposes and means of the processing of personal data and the tools adopted, including the security measures relating to the operation and use of this Application. The Data Controller, unless otherwise specified, is the owner of this Application.
          %br
          %br
          > This Application
          %br
          The hardware or software tool through which Users' Personal Data is collected and processed.
          %br
          %br
          > Service
          %br
          The service provided by this application as defined in the relative terms (if any) on this site / application.
          %br
          %br
          > European Union (or EU)
          %br
          Unless otherwise specified, any reference to the European Union contained in this document is intended to be extended to all current member states of the European Union and the European Economic Area.
          %br
          %br
          > Cookie
          %br
          Cookies are Identifiers which consist of small portions of data stored within the User's device.
          %br
          %br
          > Identifiers
          %br
          Any technology - including cookies - that allows the storage of information, or access to information already saved, on the user's device.
          %br
          %br
          > E-mail
          %br
          Provides access to the primary email address of the User.
          %br
          %br
          > Legal references
          %br
          This privacy statement has been prepared on the basis of multiple legislative systems, including articles 13 and 14 of Regulation (EU) 2016/679.
          %br
          %br
          Unless otherwise specified, this privacy statement only concerns this Application.
