%article
  %section#privacy.section.section--privacy
    .section__wrapper{style: 'padding-top: 95px; padding-bottom: 80px;'}
      .text.text--privacy
        %h2 INFORMATIVA SULLA PRIVACY
        %p.text--legal
          Informativa ai sensi dell’art. 13 Reg. UE 2016/679”
          %br
          In questa pagina si descrivono le modalità di gestione del sito in riferimento al trattamento dei dati personali degli utenti che lo consultano o fruiscono dei servizi da esso offerti.
          %br
          L’informativa è resa solo per il presente sito e non anche per altri siti web eventualmente consultati dall’utente tramite link.
        %p.text--legal
          IMPORTANTE: se l’età dell’utente è inferiore a 18 anni, è necessario che un suo genitore o tutore legga le condizioni qui elencate e le approvi prima di avviare l’utilizzo del Sito e dei suoi servizi
        %p.text--legal
          IL “TITOLARE” DEL TRATTAMENTO
          %br
          A seguito della consultazione di questo sito possono essere trattati dati relativi a persone identificate o identificabili.
        %p.text--legal
          Contitolari del trattamento sono le seguenti società:
          %br
          > Ksenia Smirnova, P.Iva 09040380967 – Via Ascanio Sforza 21, 20136 Milano, Italia – a cui sono delegate tutte le operazioni connesse alla gestione del sito
        %p.text--legal
          Società collegate, che partecipano insieme alla gestione dei servizi erogati attraverso il sito ed al soddisfacimento delle richieste degli interessati nonché alle attività di informazione ed invio di comunicazioni commerciali.
        %p.text--legal
          TIPI DI DATI TRATTATI – Dati di navigazione
          %br
          I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet.
          %br
          Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti.
          %br
          In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.
          %br
          Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del sito e per controllarne il corretto funzionamento. I dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito e solo in tal caso potranno attivarsi specifiche procedure volte alla identificazione dell’autore..
        %p.text--legal
          La BASE GIURIDICA DEL TRATTAMENTO di questi dati è costituita dal legittimo interesse dei titolari costituito dalla tutela della sicurezza dei dati e buon funzionamento del sito.
        %p.text--legal
          MODALITA’ ED INCARICATI DEL TRATTAMENTO
          %br
          I dati personali sono trattati con strumenti automatizzati per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti. I trattamenti ai servizi web di questo sito sono curati da personale incaricato dal Titolare nonché da soggetti esterni, nominati responsabili, incaricati della gestione tecnica e manutenzione del sito e dei relativi sistemi informatici. Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.
        %p.text--legal
          Nessun dato derivante dal servizio web viene diffuso.
        %p.text--legal
          I dati personali forniti dagli utenti che inoltrano richieste di invio di materiale informativo (newsletter, risposte a quesiti, ecc.) sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e sono comunicati a terzi nel solo caso in cui ciò sia a tal fine necessario.
        %p.text--legal
          CONFERIMENTO DEI DATI
          %br
          A parte quanto specificato per i dati di navigazione, l’utente è libero di fornire i dati personali richiesti nel corso della navigazione per sollecitare l’invio di materiale informativo o di altre comunicazioni. Il loro mancato conferimento può comportare l’impossibilità di ottenere quanto richiesto.
        %p.text--legal
          DATI FORNITI VOLONTARIAMENTE DALL’UTENTE
          %br
          Quando l’utente visita una parte del Sito che richiede la raccolta di dati personali gli viene riproposto un link al presente documento informativo e, se necessario, gli viene richiesto un consenso
          %br
          L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell’indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva che, salvo diverse esigenze debitamente comunicate, verranno conservati per il tempo necessario a soddisfare le richieste
          %br
          Di seguito sono rese disponibili specifiche informative riferite alle pagine del sito predisposte per particolari servizi a richiesta o tramite le quali sia possibile acquisire ulteriori dati personali.
        %p.text--legal
          TRATTAMENTI CONSEGUENTI AD UNA RICHIESTA DI CONTATTO O PREVENTIVO
          %br
          I dati personali conferiti spontaneamente dell’interessato tramite l’area contatti, i form di richiesta o gli indirizzi e-mail resi disponibili sul sito:
          %br
          1. sono trattati con strumenti prevalentemente automatizzati per:
          %br
          1.1. Assicurare una risposta certa e tempestiva e soddisfare le richieste dell’interessato stesso
          %br
          1.2. adempiere ad obblighi derivanti da leggi, norme e regolamenti comunitari; adempimento disposizioni impartite dall’Autorità Giudiziaria,
          %br
          1.3. Alimentare il sistema di acquisizione delle conoscenze del pubblico tramite analisi statistiche, effettuate attraverso dati anonimizzati ed aggregati, utili per la verifica, miglioramento e quindi progettazione di un servizio sempre più efficiente ed adeguato alla domanda,
          %br
          2. I recapiti, gli indirizzi postali e di posta elettronica forniti potranno essere utilizzati per l’invio di comunicazioni di cortesia e/o di materiale informativo/offerte relative a prodotti proposti e servizi erogati dai Titolari del trattamento, ciò ovviamente con il consenso dell’interessato, ciò anche via sms o altre piattaforme di comunicazione accessibili attraverso il/i recapito/i forniti, quali whatsapp. Resta inteso che l’interessato avrà comunque facoltà di opporsi in ogni momento al suddetto trattamento. A tal proposito si specifica che, anche prestando il proprio consenso, l’interessato ha la possibilità di esprimere le proprie scelte circa i canali utilizzabili per l’invio di tali comunicazioni avendo la possibilità di inserire anche solo uno dei recapiti richiesti nel form.
          %br
          2.1. Qualora nel breve termine rispetto ad una richiesta di preventivo riferita ad una specifica autovettura, i Titolari fossero nelle condizioni di presentare una offerta per un veicolo con analoghe caratteristiche, questa potrà essere inviata all’interessato valutando che vi sia un legittimo interesse in tal senso Suo e del Titolare.
          %br
          3. potranno essere trattati da addetti commerciali, personale addetto alla manutenzione dei sistemi informatici che ha il compito di garantire la funzionalità dei sistemi, la sicurezza dei dati e le operazioni di backup, altro personale incaricato nei limiti delle mansioni assegnate e di quanto previsto dalle procedure aziendali ed altri soggetti che forniscono servizi per finalità ausiliare al soddisfacimento delle richieste dell’interessato, anch’essi nei limiti strettamente necessari per svolgere i propri compiti;
          %br
          4. potranno essere comunicati o resi disponibili:
          %br
          • a soggetti che possono accedere ai dati in forza di disposizione di legge, di regolamento o di normativa comunitaria, nei limiti previsti da tali norme,
          %br
          • ad altri soggetti che forniscono servizi per finalità connesse al soddisfacimento delle richieste dell’interessato, nei limiti strettamente necessari per svolgere i propri compiti.
          %br
          • altre società collegate (controllate – controllanti) sempre per correnti “finalità amministrativo contabili” connesse al soddisfacimento delle richieste dell’interessato
          %br
          • Partner proprietari del sito attraverso il quale è stato richiesto il preventivo
          %br
          Nella compilazione dei form vengono indicati i campi la cui compilazione è facoltativa, in assenza degli altri dati richiesti non sarà possibile soddisfare le richieste dell’interessato.
          %br
          Qualora all’atto della richiesta di contatto l’interessato dovesse comunicare categorie particolari di dati (quali: dati personali che rivelino l’origine razziale o etnica, le opinioni politiche, le convinzioni religiose o filosofiche, o l’appartenenza sindacale, nonché trattare dati genetici, dati biometrici intesi a identificare in modo univoco una persona fisica, dati relativi alla salute o alla vita sessuale o all’orientamento sessuale della persona) potrà essere richiesto uno specifico consenso al loro trattamento, in assenza del quale potrebbe risultare impossibile dare corso alle richieste dell’interessato stesso.
        %p.text--legal
          CONSERVAZIONE DEI DATI
          %br
          I dati comunicati, salvo diverse indicazioni dell’interessato debitamente comunicate, verranno conservati per il tempo necessario a soddisfare le richieste dell’interessato ed ottemperare a norme di legge.
          %br
          Ove l’interessato avesse un rapporto contrattuale con il Titolare i dati verranno conservati, se ad esso pertinenti, per la durata del contratto, cessato il quale la conservazione verrà proseguita solo se prevista da norme di legge e in conformità alle norme sulla conservazione della documentazione amministrativa.
          %br
          I recapiti per cui sia stato conferito il consenso per l’invio di comunicazioni di carattere commerciale saranno conservati sino a 18 mesi successivi all’ultimo invio o sino alla revoca del consenso da parte dell’interessato.
        %p.text--legal
          COOKIE
          %br
          Cosa sono i Cookie
          %br
          Un cookie è una piccola quantità di dati, spesso contenenti un codice identificativo unico anonimo, che vengono inviati al browser da un server Web e che vengono successivamente memorizzati sul disco fisso del computer dell’utente. Il cookie viene poi riletto e riconosciuto solo dal sito Web che lo ha inviato ogniqualvolta si effettua una connessione successiva.
          %br
          Ricordiamo che il browser è il software che permette di navigare nella Rete tramite la visualizzazione ed il trasferimento delle informazioni sul disco fisso del computer dell’utente. Se le preferenze del browser sono impostate in modo da accettare i cookies, qualsiasi sito Web può inviare i suoi cookies al browser, ma – al fine di proteggere la privacy – può rilevare solo ed esclusivamente quelli inviati dal sito stesso, e non quelli invece inviati al browser da altri siti.
          %br
          In ogni caso i cookie non possono causare danni al computer dell’utente.
        %p.text--legal
          ALTERNATIVE PER L’IMPOSTAZIONE DEI COOKIES
          %br
          La privacy dell’utente è garantita essenzialmente dal fatto che egli può IN QUALSIASI MOMENTO:
          %br
          > configurare il browser in modo da accettare tutti i cookie, rifiutarli tutti oppure ricevere una nota di avviso nel momento in cui ne viene inviato uno,
          %br
          > cancellare uno, alcuni o tutti i cookie.
          %br
          Ogni browser ha le sue impostazioni specifiche, quindi si ricorda di consultare la sezione di “Aiuto” del browser utilizzato per avere maggiori informazioni su come modificarne le preferenze.
          %br
          Internet Explorer: http://windows.microsoft.com/it-IT/windows7/Block-enable-or-allow-cookies
          %br
          Mozilla Firefox http://support.mozilla.org/it/kb/Bloccare%20i%20cookie?redirectlocale=en-US&redirectslug=Blocking+cookies
          %br
          Google Chrome https://support.google.com/chrome/bin/answer.py?hl=it-IT&answer=95647&p=cpn_cookies
          %br
          Apple Safari http://www.apple.com/it/privacy/use-of-cookies/
        %p.text--legal
          I COOKIES USATI SU QUESTO SITO.
          %br
          Non viene fatto uso di cookie per la trasmissione di informazioni di carattere personale, né vengono utilizzati sistemi per il tracciamento degli utenti.
          %br
          L’uso di c.d. cookie di sessione (che non vengono memorizzati in modo persistente sul computer dell’utente e svaniscono con la chiusura del browser) è strettamente limitato alla trasmissione di identificativi di sessione necessari per consentire l’esplorazione sicura ed efficiente del sito.
          %br
          I c.d. cookie di sessione utilizzati in questo sito evitano il ricorso ad altre tecniche informatiche potenzialmente pregiudizievoli per la riservatezza della navigazione degli utenti e non consentono l’acquisizione di dati personali identificativi dell’utente. Si tratta in particolare esclusivamente di “COOKIE TECNICI”: “I cookie tecnici sono quelli utilizzati al solo fine di “effettuare la trasmissione di una comunicazione su una rete di comunicazione elettronica, o nella misura strettamente necessaria al fornitore di un servizio della società dell’informazione esplicitamente richiesto dall’abbonato o dall’utente a erogare tale servizio”. Essi non vengono utilizzati per scopi ulteriori. Possono essere suddivisi in cookie di navigazione o di sessione, che garantiscono la normale navigazione e fruizione del sito web (permettendo, ad esempio, di realizzare un acquisto o autenticarsi per accedere ad aree riservate); cookie analytics, assimilati ai cookie tecnici laddove utilizzati direttamente dal gestore del sito per raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito stesso; cookie di funzionalità, che permettono all’utente la navigazione in funzione di una serie di criteri da egli selezionati (ad esempio, la lingua, i prodotti selezionati per l’acquisto) al fine di migliorare il servizio reso allo stesso. Per l’installazione di tali cookie non è richiesto il preventivo consenso degli utenti.
          %br
          Noi utilizziamo i cookie essenzialmente per capire come i visitatori interagiscono con il Servizio e per agevolare l’utente velocizzando e personalizzando per quanto possibile la comunicazione e la navigazione e per porci in condizioni di fornire il miglior servizio. Grazie ai cookie è possibile riconoscere l’utente (più esattamente, il dispositivo/device da lui utilizzato) che ha già visitato il nostro sito, potendo così ricordargli, ad esempio, quanto ha già visitato evidenziando eventuali aggiornamenti.
          %br
          In ogni caso i cookie non possono causare danni al dispositivo utilizzato dall’utente.
        %p.text--legal
          GOOGLE ANALYTICS
          %br
          Questo sito utilizza Google Analytics, un servizio di analisi web fornito da Google Inc. per la generazione di statistiche sull’utilizzo del portale web Google Analytics utilizza dei “cookie”, che vengono depositati sul vostro computer per analizzare l’utilizzo del sito da parte degli utenti. Le informazioni generate dal cookie sull’utilizzo del sito web (compreso l’indirizzo IP) sono trasmesse dal browser dell’utente a Google, con sede a 1600 Amphitheatre Parkway, Mountain View, CA 94043, Stati Uniti, e depositate presso i suoi server.
          %br
          Google Analytics raccoglie le informazioni in modo anonimo senza identificare i singoli visitatori. I browser non condividono i cookie proprietari dello strumento Google Analytics tra vari domini. Google Analytics non segnala informazioni relative agli effettivi indirizzi: Google Analytics comunica informazioni in modo che venga utilizzata solo una parte dell’indirizzo IP per la geolocalizzazione, anziché l’indirizzo intero, utilizzando un metodo noto come masking IP.
          %br
          Google utilizzerà queste informazioni allo scopo di tracciare e esaminare l’utilizzo del sito web, compilare report sulle attività del sito e fornire altri servizi al titolare dello stesso relativi alle attività del sito web, alle modalità di connessione (mobile, pc, browser utilizzato etc) e alle modalità di ricerca e raggiungimento delle pagine del portale. Google può anche trasferire queste informazioni a terzi ove ciò sia imposto dalla legge o laddove tali terzi trattino le suddette informazioni per conto di Google. Google non assocerà il vostro indirizzo IP a nessun altro dato posseduto da Google.
          %br
          È possibile disabilitare i cookie di Google Analytics, utilizzando il componente aggiuntivo di opt-out fornito da Google per i browser principali. In questo modo sarà possibile utilizzare anche i servizi on-line.
        %p.text--legal
          Vedi anche:
          %br
          – i termini di servizio di Google Analytics
          %br
          – l’informativa privacy della società Google http://www.google.com/intl/en/analytics/privacyoverview.html
          %br
          – le norme sulla privacy di Google http://www.google.com/intl/it/privacy/privacy-policy.html
          %br
          – https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage
          %br
          – https://support.google.com/analytics/answer/2763052?hl=it
          %br
          Cookie di terza parte
          %br
          Nel corso della navigazione sul Sito, l’Utente potrebbe ricevere sul proprio terminale anche cookie di siti o di web server di soggetti terzi (c.d. cookie di “terze parti”): ciò accade perché sul Sito possono essere presenti elementi come, ad esempio, immagini, mappe, suoni, specifici link a pagine web di altri domini che risiedono su server diversi da quello sul quale si trova la pagina richiesta. In altre parole, detti cookie sono impostati direttamente da gestori di siti web o server diversi dal Sito. Questi terzi potrebbero in teoria impostare cookie mentre visitate il Sito e ottenere così informazioni relative al fatto che avete visitato il Sito.
          %br
          Troverete maggiori informazioni sull’impiego dei cookie accedendo al link indicato. Se l’Utente decide di non prestare il proprio consenso all’archiviazione di cookie di terze parti, l’Utente potrà utilizzare esclusivamente le funzioni del Sito, che non richiedono l’archiviazione di tali cookie.
          %br
          Per ulteriori informazioni potete visitare il seguente sito: www.youronlinechoices.com/it/
        %p.text--legal
          DIRITTI DEGLI INTERESSATI
          %br
          L’interessato ha il diritto:
          %br
          > di chiedere al titolare del trattamento l’accesso ai dati personali e la rettifica o la cancellazione degli stessi o la limitazione del trattamento dei dati personali che lo riguardano e di opporsi al loro trattamento,
          %br
          > se il trattamento è effettuato con mezzi automatizzati (informatici) e sulla base del proprio consenso, di ricevere in un formato strutturato, di uso comune e leggibile da dispositivo automatico i dati personali che lo riguardano e/o di ottenerne la trasmissione diretta ad altro titolare del trattamento, se tecnicamente fattibile
          %br
          > di revocare il proprio consenso in qualsiasi momento (senza che sia pregiudicata la liceità del trattamento basata sul consenso prima della revoca), ovviamente ciò per i trattamenti effettuati sulla base di tale presupposto
          > di proporre reclamo a un’autorità di controllo: Garante per la protezione dei dati personali – Piazza di Monte Citorio n. 121 00186 ROMA – Fax: (+39) 06.69677.3785 – Centralino telefonico: (+39) 06.696771 –
          %br
          E-mail: garante@gpdp.it – posta certificata protocollo@pec.gpdp.it
          %br
          Le richieste vanno rivolte a Ksenia Smirnova, Via Ascanio Sforza 21, 20136 Milano, Italia, tel: +39 3468441463 – anche attraverso l’indirizzo di posta elettronica ksenia@1503design.com, tenendo presente che non sarà possibile rispondere a richieste pervenute telefonicamente ove non vi sia certezza circa l’identità del richiedente.
        %h2{style: 'padding-top: 70px'} PRIVACY POLICY
        %p.text--legal
          Information pursuant to art. 13 EU Reg. 2016/679 "
          %br
          This page describes how the site is managed with reference to the processing of personal data of users who consult it or use the services it offers.
          %br
          The information is provided only for this site and not for other websites that may be consulted by the user through links.
        %p.text--legal
          IMPORTANT: if the age of the user is less than 18 years, a parent or guardian must read the conditions listed here and approve them before starting to use the Site and its services
        %p.text--legal
          THE "OWNER" OF THE TREATMENT
          %br
          Following consultation of this site, data relating to identified or identifiable persons may be processed.
        %p.text--legal
          Data controllers are the following companies:
          %br
          > Ksenia Smirnova, P.Iva 09040380967 - Via Ascanio Sforza 21, 20136 Milan, Italy - to which all operations connected to the management of the site are delegated
        %p.text--legal
          Associated companies, which participate together in the management of the services provided through the site and in satisfying the requests of the interested parties as well as in the information and sending of commercial communications.
        %p.text--legal
          TYPES OF DATA PROCESSED - Navigation data
          %br
          During their normal operation, the IT systems and software procedures used to operate this website acquire some personal data whose transmission is implicit in the use of Internet communication protocols.
          %br
          This is information that is not collected to be associated with identified interested parties, but which by its very nature could, through processing and association with data held by third parties, allow users to be identified.
          %br
          This category of data includes the IP addresses or domain names of the computers used by users who connect to the site, the addresses in URI (Uniform Resource Identifier) notation of the requested resources, the time of the request, the method used in submitting the request to the server, the size of the file obtained in response, the numerical code indicating the status of the response given by the server (successful, error, etc.) and other parameters relating to the operating system and the user's computer environment.
          %br
          These data are used for the sole purpose of obtaining anonymous statistical information on the use of the site and to check its correct functioning. The data could be used to ascertain responsibility in case of hypothetical computer crimes against the site and only in this case specific procedures aimed at identifying the author will be activated.
        %p.text--legal
          The LEGAL BASIS OF THE PROCESSING of these data is the legitimate interest of the owners consisting of the protection of data security and the proper functioning of the site.
        %p.text--legal
          METHODS AND PERSONS IN CHARGE OF THE TREATMENT
          %br
          Personal data are processed with automated tools for the time strictly necessary to achieve the purposes for which they were collected. The treatments to the web services of this site are handled by personnel appointed by the Owner as well as by external subjects, appointed as managers, in charge of the technical management and maintenance of the site and related IT systems. Specific security measures are observed to prevent data loss, illicit or incorrect use and unauthorized access.
        %p.text--legal
          No data deriving from the web service is disclosed.
        %p.text--legal
          The personal data provided by users who request dispatch of informative material (newsletter, answers to questions, etc.) are used for the sole purpose of carrying out the service or provision requested and are communicated to third parties only if this is the case. this is necessary.
        %p.text--legal
          DATA CONFERENCE
          %br
          Apart from that specified for navigation data, the user is free to provide the personal data requested during navigation to request the sending of informative material or other communications. Their absence may make it impossible to obtain what is requested.
        %p.text--legal
          DATA PROVIDED VOLUNTARILY BY THE USER
          %br
          When the user visits a part of the site that requires the collection of personal data, a link to this information document is proposed and, if necessary, consent is required
          %br
          The optional, explicit and voluntary sending of e-mails to the addresses indicated on this site entails the subsequent acquisition of the sender's address, necessary to respond to requests, as well as any other personal data included in the message which, unless otherwise duly communicated, they will be kept for the time necessary to satisfy requests
          %br
          Specific information relating to the pages of the site prepared for particular services on request or through which it is possible to acquire further personal data is made available below.
        %p.text--legal
          TREATMENTS CONSEQUENT OF A CONTACT OR QUOTE REQUEST
          %br
          The personal data spontaneously provided by the interested party through the contact area, the request form or the e-mail addresses made available on the site:
          %br
          1. are processed with mainly automated tools for:
          %br
          1.1. Ensure a certain and timely response and satisfy the requests of the data subject himself
          %br
          1.2. fulfill obligations deriving from community laws, rules and regulations; fulfillment of instructions given by the Judicial Authority,
          %br
          1.3. Feed the public knowledge acquisition system through statistical analyzes, carried out through anonymized and aggregated data, useful for the verification, improvement and therefore design of a service always more efficient and appropriate to the demand,
          %br
          2. The contact details, postal and e-mail addresses provided may be used to send courtesy communications and / or information material / offers relating to the products offered and services provided by the Data Controllers, obviously with the consent of the 'interested, this also via sms or other communication platforms accessible through the contact (s) provided, such as whatsapp. It is understood that the interested party will still have the right to object to the aforementioned treatment at any time. In this regard, it is specified that, even by giving their consent, the interested party has the possibility of expressing his choices about the channels that can be used for sending these communications having the possibility of including even one of the contact details requested in the form.
          %br
          2.1. If in the short term compared to a request for quote relating to a specific car, the owners were in a position to submit an offer for a vehicle with similar characteristics, this can be sent to the interested party assessing that there is a legitimate interest in this regard. and the owner.
          %br
          3. commercial staff, IT system maintenance personnel who have the task of guaranteeing the functionality of the systems, data security and backup operations, other personnel in charge within the limits of the assigned tasks and as required by the company procedures and other subjects that provide services for purposes auxiliary to the satisfaction of the requests of the interested party, also within the limits strictly necessary to carry out their duties;
          %br
          4. the following may be communicated or made available:
          %br
          • to subjects who can access the data pursuant to the provisions of the law, regulation or community legislation, within the limits set by these rules,
          %br
          • to other subjects who provide services for purposes related to the satisfaction of the data subject's requests, within the limits strictly necessary to perform their duties.
          %br
          • other associated companies (subsidiaries - parent companies) always for current "administrative and accounting purposes" connected to satisfying the requests of the interested party
          %br
          • Partner owners of the site through which the quote was requested
          %br
          When filling out the forms, the fields whose compilation is optional are indicated, in the absence of the other requested data it will not be possible to satisfy the requests of the interested party. If at the time of the contact request the interested party should communicate particular categories of data (such as: personal data that reveal racial or ethnic origin, political opinions, religious or philosophical beliefs, or union membership, as well as processing data genetic, biometric data intended to uniquely identify a natural person, data relating to the health or sexual life or sexual orientation of the person) specific consent may be required for their treatment, in the absence of which it may be impossible to carry out the requests from the interested party.
        %p.text--legal
          RETENTION OF DATA
          %br
          The communicated data, unless otherwise indicated by the interested party duly communicated, will be kept for the time necessary to satisfy the requests of the interested party and comply with the law. If the interested party has a contractual relationship with the Data Controller, the data will be kept, if relevant to it, for the duration of the contract, after which the storage will be continued only if required by law and in accordance with the rules on the conservation of documentation administrative.
          %br
          The contact details for which consent has been given for sending commercial communications will be kept for up to 18 months after the last sending or until the withdrawal of the consent by the interested party.
        %p.text--legal
          COOKIES
          %br
          What are cookies
          %br
          A cookie is a small amount of data, often containing a unique anonymous identification code, which is sent to the browser by a Web server and which is subsequently stored on the hard disk of the user's computer.
          %br
          The cookie is then reread and recognized only by the website that sent it every time a subsequent connection is made.
          %br
          We remind you that the browser is the software that allows you to browse the Net by viewing and transferring information on the hard disk of the user's computer. If the browser preferences are set to accept cookies, any website can send its cookies to the browser, but - in order to protect privacy - it can only and exclusively detect those sent by the site itself, and not those sent instead. to the browser from other sites.
          %br
          In any case, cookies cannot cause damage to the user's computer.
        %p.text--legal
          ALTERNATIVES FOR THE SETTING OF COOKIES
          %br
          The user's privacy is essentially guaranteed by the fact that he can AT ANY TIME:
          %br
          > configure the browser to accept all cookies, reject them all or receive a warning note when one is sent,
          %br
          > delete one, some or all cookies.
          %br
          Each browser has its own specific settings, so please remember to consult the "Help" section of the browser used for more information on how to change your preferences.
        %p.text--legal
          Internet Explorer: http://windows.microsoft.com/it-IT/windows7/Block-enable-or-allow-cookies
          %br
          Mozilla Firefox http://support.mozilla.org/it/kb/Blocchi%20i%20cookie?redirectlocale=en-US&redirectslug=Blocking+cookies
          %br
          Google Chrome https://support.google.com/chrome/bin/answer.py?hl=it-IT&answer=95647&p=cpn_cookies
          %br
          Apple Safari http://www.apple.com/it/privacy/use-of-cookies/
        %p.text--legal
          COOKIES USED ON THIS SITE.
          %br
          Cookies are not used to transmit personal information, nor are user tracking systems used.
          %br
          The use of so-called session cookies (which are not stored permanently on the user's computer and disappear when the browser is closed) is strictly limited to the transmission of session identifiers necessary to allow safe and efficient exploration of the site.
          %br
          I c.d. session cookies used on this site avoid the use of other IT techniques that are potentially detrimental to the confidentiality of user navigation and do not allow the acquisition of the user's personal identification data. In particular, these are exclusively "TECHNICAL COOKIES": "Technical cookies are those used for the sole purpose of" carrying out the transmission of a communication over an electronic communications network, or to the extent strictly necessary for the service provider of the company of the information explicitly requested by the subscriber or user to provide this service ". They are not used for other purposes. They can be divided into navigation or session cookies, which guarantee normal navigation and use of the website (allowing, for example, to make a purchase or authenticate to access restricted areas); analytics cookies, assimilated to technical cookies when used directly by the site operator to collect information, in aggregate form, on the number of users and how they visit the site; functionality cookies, which allow the user to navigate according to a series of criteria selected by him (for example, the language, the products selected for purchase) in order to improve the service provided. The prior consent of users is not required for the installation of these cookies.
          %br
          We use cookies essentially to understand how visitors interact with the Service and to facilitate the user by speeding up and personalizing communication and navigation as much as possible and enabling us to provide the best service. Thanks to cookies it is possible to recognize the user (more precisely, the device / device used by him) who has already visited our site, thus being able to remind him, for example, what he has already visited by highlighting any updates.
          %br
          In any case, cookies cannot cause damage to the device used by the user.
        %p.text--legal
          GOOGLE ANALYTICS
          %br
          This site uses Google Analytics, a web analysis service provided by Google Inc. for the generation of statistics on the use of the web portal Google Analytics uses "cookies", which are stored on your computer to analyze the use of the site by users. The information generated by the cookie about the use of the website (including the IP address) is transmitted by the user's browser to Google, based in 1600 Amphitheater Parkway, Mountain View, CA 94043, United States, and stored on its servers.
          %br
          Google Analytics collects information anonymously without identifying individual visitors. Browsers do not share the proprietary cookies of the Google Analytics tool between various domains. Google Analytics does not report information relating to the actual addresses: Google Analytics communicates information so that only a part of the IP address is used for geolocation, rather than the whole address, using a method known as IP masking.
          %br
          Google will use this information for the purpose of tracking and examining the use of the website, compiling reports on website activities and providing other services to the owner of the website relating to website activities, connection methods (mobile, PC, browser used, etc. ) and how to search and reach the portal pages. Google may also transfer this information to third parties where this is required by law or where such third parties process the aforementioned information on behalf of Google. Google will not associate your IP address with any other data held by Google.
          %br
          Google Analytics cookies can be disabled, using the opt-out add-on provided by Google for the main browsers. In this way it will also be possible to use the online services.
        %p.text--legal
          See also:
          %br
          = "- the Google Analytics terms of service"
          %br
          = "- the privacy policy of the company Google http://www.google.com/intl/en/analytics/privacyoverview.html"
          %br
          = "- Google's privacy policy http://www.google.com/intl/it/privacy/privacy-policy.html"
          %br
          = "- https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage"
          %br
          = "- https://support.google.com/analytics/answer/2763052?hl=it"
          %br
          Third party cookies
          %br
          While browsing the Site, the User may also receive cookies from third party sites or web servers on his terminal (so-called "third party" cookies): this happens because there may be elements on the Site such as, for example, images, maps, sounds, specific links to web pages of other domains that reside on servers other than the one on which the requested page is located. In other words, these cookies are set directly by managers of websites or servers other than the Site. These third parties could theoretically set cookies while visiting the Site and thus obtain information relating to the fact that you have visited the Site. You will find more information on the use of cookies by accessing the link indicated. If the User decides not to give his consent to the storage of third-party cookies, the User can only use the functions of the Site, which do not require the storage of these cookies.
          %br
          For more information, visit the following site: www.youronlinechoices.com/it/
        %p.text--legal
          RIGHTS OF THE INTERESTED PARTIES
          %br
          The interested party has the right:
          %br
          > to ask the data controller to access personal data and to correct or delete them or limit the processing of personal data concerning him and to oppose their treatment,
          %br
          > if the processing is carried out by automated (IT) means and on the basis of your consent, to receive your personal data in a structured format, commonly used and readable by an automatic device and / or to obtain direct transmission to another data controller, if technically feasible
          %br
          > to withdraw your consent at any time (without prejudice to the lawfulness of the treatment based on consent before the revocation), obviously this for the treatments carried out on the basis of this assumption
          %br
          > to lodge a complaint with a supervisory authority: Guarantor for the protection of personal data - Piazza di Monte Citorio n. 121 00186 ROME - Fax: (+39) 06.69677.3785 - Telephone switchboard: (+39)
          %br
          06.696771 - E-mail: garante@gpdp.it - certified mail protocol@pec.gpdp.it
        %p.text--legal{style: 'padding-bottom: 30px'}
          Requests should be sent to Ksenia Smirnova, Via Ascanio Sforza 21, 20136 Milan, Italy, tel: +39 3468441463 - also through the e-mail address ksenia@1503design.com, bearing in mind that it will not be possible to respond to requests received by phone where there is no certainty about the identity of the applicant.
