%article.intro#intro
  .arrow#arrow
  .blackout#blackout
  %section.section.section--first
    .section__wrapper
      .text.text--intro
        %div{ data: { text_first: 1 } } Branding&
        %div{ data: { text_first: 2 } } Visual Communication
  %section.section.section--info{ data: { section: 1 } }
    .section__wrapper
      .text.text--founded
        %div{ data: { text: 1 } } 1,618 is a branding and visual communication studio
        %div{ data: { text: 2 } } founded by Ksenia Smirnova, based in Milan, Italy.
      .text.text--design
        %div{ data: { text: 3 } } We design everything visual, including brand identities,
        %div{ data: { text: 4 } } packaging, websites and mobile apps,
        %div{ data: { text: 5 } } patterns and illustrations.

  %section.section.section--branding{ data: { section: 2 } }
    = link_to '#', class: 'section__wrapper' do
      .text.text--branding
        %h2
          Branding&
          %br
          Identities
        %span.link.link--black.link--sm.link--hover-white
          Discover more
  %section.section.section--web-and-mobile{ data: { section: 3 } }
    = link_to '#', class: 'section__wrapper' do
      .text.text--web-and-mobile
        %h2
          Web&Mobile
        %span.link.link--black.link--sm.link--hover-white
          Discover more
  %section.section.section--illustration{ data: { section: 4 } }
    = link_to '#', class: 'section__wrapper' do
      .text.text--illustration
        %h2
          ILLUSTRATION
        %span.link.link--black.link--sm.link--hover-white
          Discover more

  %section.section.section--quote
    .section__wrapper.section__wrapper--quote
      .text.text--placeholder
        Always in balance between an artistic vision and a market approach, we define our work as scenical decorations tailor-made on the client needs.
      .text.text--typed
        %span> Always in balance between an artistic vision and a market approach
        %span#typed-trigger , we define our work as
        %span#typed
  %section.section.section--clients#clients
    .section__wrapper
      .text.text--clients
        %h2 Clients
      .clients
        .client
          = link_to 'Mytha Hotel Anthology', '', class: 'client__title'
          .client__delimiter
          .client__work Branding
        .client
          = link_to 'Nadine Aysoy Jewellery', '', class: 'client__title'
          .client__delimiter
          .client__work Branding , Web Design
        .client
          = link_to 'papem', '', class: 'client__title'
          .client__delimiter
          .client__work Branding , App Design, UX&UI
        .client
          = link_to 'Elena Tkachenko', '', class: 'client__title'
          .client__delimiter
          .client__work Branding, Web design
        .client
          = link_to 'youKnew', '', class: 'client__title'
          .client__delimiter
          .client__work Branding , App Design, UX&UI
        .client
          = link_to 'Epidermis, NY', '', class: 'client__title'
          .client__delimiter
          .client__work Branding
        .client
          = link_to 'Alina German', '', class: 'client__title'
          .client__delimiter
          .client__work Illustrations
  %section.section.section--contact#contact
    .section__wrapper
      .text.text--contact
        %h2 Contact
        .text--contact__vcard.vcard
          %p.text--contact__mail-us Feel free to contact us if you have any questions or comments:
          = link_to 'ksmirnova.graphics@gmail.com', 'mailto:ksmirnova.graphics@gmail.com', class: 'text--contact__mail email'
          .text--contact__info
            %span.fn Ksenia Smirnova
            %br
            %span Creative Director
            %br
            = link_to '(+39) 346 844 1463', 'tel:(+39) 346 844 1463', class: 'text--contact__tel tel'
            %br
            %br
            .adr
              %span.street-address Via Ascanio Sforza, 21
              %span.postal-code 20136
              %span.locality Milan
              %span ,
              %span.country-name Italy
            %span P.Iva 09040380967
