- if @work.errors.present?
  %pre
    %code
      - @work.errors.full_messages.each do |error_message|
        %span<= error_message

= form_for [:admin, @work], html: { multipart: true } do |f|
  .row
    - if @images.present?
      .column.column-100
        .grid.grid--admin#js-grid
          - @images.each do |image|
            .item{class: image.half? ? 'item--half' : 'item--full', data: { id: image.id }}
              .item__content
                = image_tag image.img.url, class: 'item__img'
    .column{class: ('column-80' if @images.present?)}
      = f.check_box :has_page
      = f.label :has_page, 'Has page?', class: 'label-inline'
      %br
      = f.check_box :has_client
      = f.label :has_client, 'Display in Clients?', class: 'label-inline'
      = f.label :name
      = f.text_field :name
      = f.label :caption
      = f.text_field :caption
      = f.label :text
      = f.text_area :text
      = f.label :link
      = f.text_field :link
      = f.label :year
      = f.text_field :year
      = f.label :tag_ids, 'Tags'
      = f.collection_select :tag_ids, Tag.all, :id, :name, {}, multiple: true
      = f.label :position
      = f.text_field :position
      = f.label :meta_description, 'SEO Meta Description'
      = f.text_area :meta_description, class: 'textcounter'
      = f.hidden_field :image_positions
      %h4 Images
      = f.fields_for :images, @work.images do |image|
        = render 'image_fields', f: image
      .links.float-left
        = link_to_add_association 'add image', f, :images, class: 'button button-outline'
      = f.submit @work.new_record? ? 'Create' : 'Save', class: 'button float-right'
