- desc = 'Our design portfolio. Brand identities, packaging, web&mobile design, patterns and illustrations.'
- description desc
- set_meta_tags og: { 'title'        => '15:03 Design | Work',
                      'description'  => desc,
                      'type'         => 'website',
                      'url'          => tags_url,
                      'image'        => asset_url('common/og_logo.jpg'),
                      'image:width'  => 1200,
                      'image:height' => 630 },
                twitter: { card: 'summary_large_image' }

- link_classes = 'link link--xs link--black link--hover-line skip-preloader'

%section.tags
  %h1.tags__title= title 'Work'
  = link_to @tag ? @tag.name : 'All Work',
            @tag ? tag_path(@tag) : tags_path,
            class: link_classes + ' tags__link'
  .filter
    .filter__wrapper
      .filter__item
        = active_link_to 'All Work',
                         tags_path,
                         class: link_classes,
                         data: { filter: '*' },
                         class_active: 'link--active',
                         class_inactive: 'link--black',
                         active: :exact
      - Tag.all.each do |tag|
        .filter__item
          = active_link_to tag.name,
                           tag_path(tag),
                           class: link_classes,
                           data: { filter: tag.slug },
                           class_active: 'link--active',
                           class_inactive: 'link--black'
    .filter__wrapper
      .filter__close.visible--mobile
  .tags-works
    .tags-works__wrapper
      - @works.each do |work|
        - slugs = work.tags.pluck(:slug)
        - style = "display: #{slugs.include?(@tag&.slug) || @tag.blank? ? 'block' : 'none'}"
        %figure.tags-work{data: { filters: ['*', *slugs].join(' ') }, style: style }
          = link_to work_path(work) do
            = image_tag work.cover_image.img.url, class: 'tags-work__img'
            %figcaption.tags-work__wrapper{style: "background: url('#{work.cover_hover_image&.img&.url}') no-repeat;"}
              .tags-work__title= work.name
              .tags-work__caption= work.caption

