%section.tags
  %h1.tags__title Work
  .tags__filter
    - link_classes = 'link link--xs link--black link--hover-line'
    = active_link_to 'All',
                     tags_path,
                     class: link_classes,
                     class_active: 'link--active',
                     active: :exact
    - Tag.all.each do |tag|
      = active_link_to tag.name,
                       tag_path(tag),
                       class: link_classes,
                       class_active: 'link--active'
  .tags-works
    .tags-works__wrapper
      - @works.each do |work|
        %figure.tags-work
          = link_to work_path(work), data: { turbolinks: false } do
            = image_tag work.cover_image.img.url, class: 'tags-work__img'
            %figcaption.tags-work__wrapper
              .tags-work__title= work.name
              .tags-work__caption= work.caption
