%section.tags
  %h1.tags__title Work
  = link_to 'All', tags_path, class: 'link link--xs link--black link--hover-line'
  = link_to 'Branding & Identities', tags_path, class: 'link link--xs link--black link--hover-line'
  = link_to 'Web & Mobile', tags_path, class: 'link link--xs link--black link--hover-line'
  = link_to 'Illustration', tags_path, class: 'link link--xs link--black link--hover-line'

  .works
    .works__wrapper
      %figure.work
        = image_tag 'temp/work.jpg', class: 'work__img'
        %figcaption
      %figure.work
        = image_tag 'temp/work.jpg', class: 'work__img'
        %figcaption
      %figure.work
        = image_tag 'temp/work.jpg', class: 'work__img'
        %figcaption
      %figure.work
        = image_tag 'temp/work.jpg', class: 'work__img'
        %figcaption
      %figure.work
        = image_tag 'temp/work.jpg', class: 'work__img'
        %figcaption
