%footer.footer
  .footer__copyright © 1,618Design 2017
  .footer__build
    %span code with
    = inline_svg 'icons/heart.svg', class: 'footer__build__heart'
    %span by
    = link_to 'Pavel Kulikov', 'https://vk.com/shtetik', target: :_blank, class: 'footer__build__link'
  .footer__social-networks
    .footer__social-networks__wrapper
      = link_to 'https://www.facebook.com/ksmirnova.graphics', target: :_blank do
        = inline_svg 'icons/social/facebook.svg', class: 'social'
      = link_to 'https://www.instagram.com/ksmirnova.graphics/', target: :_blank do
        = inline_svg 'icons/social/instagram.svg', class: 'social'
      = link_to 'https://ru.pinterest.com/kseniasmirnova/', target: :_blank do
        = inline_svg 'icons/social/pinterest.svg', class: 'social'