%nav#nav
  .logo-1618
    = link_to '', root_path, class: 'logo-1618__root', data: { turbolinks: false }
    .logo-1618__menu{class: ('js-works-filter' if controller_name == 'tags')}
      - Tag.all.each do |tag|
        .logo-1618__menu__item
          = link_to tag.name,
                    tag_path(tag),
                    class: 'link link--xs link--black',
                    data: { turbolinks: false, filter: ".work--#{tag.slug}" }
      - link_class = 'link link--xs link--black'
      - [:clients, :contact].each do |link|
        .logo-1618__menu__item
          - id = current_page?(root_path) ? "#{link}-scroll" : nil
          = link_to link.capitalize, root_path(anchor: link), class: link_class, id: id, data: { turbolinks: false }

  = link_to '', tags_path, class: 'logo-work', data: { turbolinks: false }