%nav
  .logo-1618
    = link_to '', root_path, class: 'logo-1618__root'
    .logo-1618__menu
      .logo-1618__menu__item
        = link_to 'Branding&Identities', '#Branding&Identities', class: 'logo-1618__menu__item__link'
      .logo-1618__menu__item
        = link_to 'Web&Mobile', '#Web&Mobile', class: 'logo-1618__menu__item__link'
      .logo-1618__menu__item
        = link_to 'Illustration', '#Illustration', class: 'logo-1618__menu__item__link'
      .logo-1618__menu__item
        = link_to 'Clients', '#Clients', class: 'logo-1618__menu__item__link'
      .logo-1618__menu__item
        = link_to 'Contact', '#Contact', class: 'logo-1618__menu__item__link'

  = link_to '', root_path, class: 'logo-work'