!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Ksenia Smirnova
    = stylesheet_link_tag    'application/main', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = render 'layouts/partials/nav'
    %main
      = yield
    = render 'layouts/partials/footer'
