!!!
%html.no-js
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"}
    %title 15:03Design
    = stylesheet_link_tag    'application/main', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.loading
    = render 'layouts/partials/loader'
    = render 'layouts/partials/nav'
    %main.main
      = yield
    = render 'layouts/partials/footer'
