!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"}
    %title Ksenia Smirnova
    = stylesheet_link_tag    'application/main', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = Gon::Base.render_data
    = render 'layouts/partials/nav'
    %main#root
      = yield
    = render 'layouts/partials/footer'
